<!DOCTYPE html>
<html>
<head>
    <title>Kamaleao - Confirmação de E-mail</title>
    <link rel="stylesheet" href="style/conf_email.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Urbanist:wght@500&display=swap" rel="stylesheet">
    <link rel="shortcut icon" type="image/x-icon" href="../assets/img/LogoKamaleao1.png" />
    <meta charset="utf-8" />
</head>

<body>
    <div class="conf_email">
        <form>
            <h1>Precisamos que você confirme seu e-mail!</h1>
            <p>Pronto! Um link para a confirmação do e-mail foi enviada para o e-mail indicado!</p>
            <button type="submit" class="botao">Pronto</button>
        </form>
    </div>
</body>

</html>