<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <title>Kamaleão</title>
  <link href="css/style.css" type="text/css" rel="stylesheet" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Urbanist:wght@500&display=swap" rel="stylesheet">
  <link rel="shortcut icon" type="image/x-icon" href="../img/Kamaleão2.png" />
</head>

<body>

  <div class="header">
    <button onclick="window.location.href='../cadastro/cadastro.html'">Cadastre-se</button>
    <button onclick="window.location.href='../login/login.html'">Login</button>
  </div>

  <div class="about_us">
    <img src="../img/Kamaleão.png" class="logo" />
    <p>
      O Kamaleão é uma plataforma voltada para artistas, que busca entregar a melhor ferramenta para criar seu próprio
      mercado e vender de forma segura o seu trabalho.
    </p>
    <button>Home</button>
  </div>
</body>

</html>