<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Urbanist:wght@500&display=swap" rel="stylesheet">
    <link rel="shortcut icon" type="image/x-icon" href="img/Kamaleão2.png" />
    <link rel="stylesheet" href="css/inicial.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kamaleao - Pagina inicial</title>
    <script src="https://kit.fontawesome.com/fc217c8ad5.js" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/299e2df259.js" crossorigin="anonymous"></script>
</head>
<body>

        <div class="banner">   
            <img src="img/EKKO.png" class="ekko"/>
            <img src="img/kamalelogo.png" class="kamaleao" />
        </div> <!--banner-->

        <div class="arrow">
            
            

            <a href="#horn"><i class="fas fa-arrow-circle-down"></i></a>
            <div class="container">
                
                <div class="infos">

                        <div class="texto">
                            <i id="horn" class="fas fa-bullhorn"></i><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris consectetur tristique ante et congue. Sed bibendum mollis suscipit. Ut non venenatis odio. Interdum et malesuada fames ac ante ipsum primis in faucibus. Duis ligula ante, efficitur in volutpat a, laoreet a sem. Maecenas vitae nulla justo.</p></div><br/>

                        <div class="texto">
                            <i id="horn" class="fas fa-bullhorn"></i><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris consectetur tristique ante et congue. Sed bibendum mollis suscipit. Ut non venenatis odio. Interdum et malesuada fames ac ante ipsum primis in faucibus. Duis ligula ante, efficitur in volutpat a, laoreet a sem. Maecenas vitae nulla justo.</p></div>

                        <div class="texto">
                            <i id="horn" class="fas fa-bullhorn"></i><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris consectetur tristique ante et congue. Sed bibendum mollis suscipit. Ut non venenatis odio. Interdum et malesuada fames ac ante ipsum primis in faucibus. Duis ligula ante, efficitur in volutpat a, laoreet a sem. Maecenas vitae nulla justo.</p></div>

                        <div class="texto">
                            <i id="horn" class="fas fa-bullhorn"></i><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris consectetur tristique ante et congue. Sed bibendum mollis suscipit. Ut non venenatis odio. Interdum et malesuada fames ac ante ipsum primis in faucibus. Duis ligula ante, efficitur in volutpat a, laoreet a sem. Maecenas vitae nulla justo.</p></div>
                        
                </div> <!--infos-->
            </div> <!--container-->
        </div> <!--arrow-->


                <div class="index">
                    <button>Cadastre-se</button>
                    <button>Login</button>
                </div> <!--index-->

                <div class="about_us">
                    <p>
                    O Kamaleão é uma plataforma voltada para artistas, que busca entregar a melhor ferramenta para criar seu próprio
                    mercado e vender de forma segura o seu trabalho.
                    </p>
                    <button>Home</button>
                </div> <!--about us-->

</body>
</html>

<!--                    <i class="fas fa-bullhorn"></i> 

<i class="fas fa-arrow-circle-down"></i> -->