* {
    margin: 0;
    padding: 0;
    font-family: Arial;
}

body {
    background-image: url("../../assets/img/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.conf_email {    
    text-align: center;
    align-items: center;
    margin: 0 auto;
    position: relative;
    transform: translateY(40%); 
    padding: 4rem;
    border: 1px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    background-color: white;
    width: 30rem;
    margin-top: 1rem;
}

p {
    padding: 3em 0rem 1rem 0rem;
    font-size: 22px;
}


@media screen and (max-width: 1400px) {
    /* form{
        margin-top: 20%;
    } */
  }