# Arquivo de configuração de umas coisa do apache não liguem
<files ~ "^.*\.([Hh][Tt][Aa])">
order allow,deny
deny from all
satisfy all
</files>

<files config.php>
order allow,deny
deny from all
</files>

<files composer.json>
order allow,deny
deny from all
</files>

<files composer.lock>
order allow,deny
deny from all
</files>

RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^(.*)$ $1.php

RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.html -f
RewriteRule ^(.*)$ $1.html

RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.html.twig -f
RewriteRule ^(.*)$ $1.html.twig