/*<i class="fas fa-exclamation-circle"></i>*/

* {
    margin: 0;
    padding: 0;
    font-family: Arial;
}

body {
    background-image: url("../../assets/img/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

/*form*/

.form_login {
    margin: 0 auto;
    width: 25rem;
    max-width: 500px;
}

form {
    text-align: center;
    margin-top: 50%;
}

fieldset {
    height: 26rem;
    padding: 4rem;
    border: 1px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    background-color: white;
}

fieldset p {
    font-size: 22px;
    margin-top: 2rem;
    margin-bottom: 1rem;
    text-align: left;
}


.email {
    margin: 0 auto;
    width: 300px;
    font-size: 25px;
}

.senha {
    margin: 0 auto;
    width: 300px;
    text-align: left;
}

form input[type=text], input[type=password] {
    width: 100%;
    height: 2.5rem;
    font-size: 18px;
    border-radius: 15px;
    border: 1px solid #363636;
    padding-left: 10px;
}

form input[type=text], input[type=password]:focus{
    outline: 0;
}

form h3 {
    width: 100%;
    padding-top: 0.5rem;
    padding-left: 10px;
    font-size: 16px;
    color: #000;
    background-color: #df04044b;
}

/*botao*/

.form_login .botao {
    border: 1px solid #363636;
    width: 90%;
    height: 3rem;
    max-width: 200px;
    background-color: transparent;
    border-radius: 15px;
    margin-top: 2.5rem;
    margin-bottom: 1rem;
    padding: 2px;
    cursor: pointer;
    font-size: 30px;
    color: #363636;
}

.botao:hover {
    color: rgb(255, 255, 255);
    cursor: pointer;
    background-image: url("../../assets/img/botao.jpg");
    background-size: 100%;
    transition: 0.5s;
    border: none;
    box-shadow: 6px 8px 15px -3px rgba(0,0,0,0.2);
}

.msg{
    background-color:#f44336;
    border-radius: 20px;
    width: 100%;
}

.form-message {
    padding-left: 10px;
    text-align: center;
    width: 90%;
    font-size: 1rem;
    color: #f44336;
    font-family: 'Urbanist', sans-serif;
}


/*esqueci negocio*/

.esqueci {
    text-decoration: none;
    font-size: 12px;
    color: #363636BF;
    margin-bottom: 5rem;
}

/*flexbox matenha*/

#checkbox {
    cursor: pointer;
    margin-top: 1vh;
    margin-right: 1vh;
}

.pass span {
    font-size: 12px;
}

@media screen and (max-width: 800px) {
    form{
        margin-top: 40%;
    }
  }

  @media screen and (max-height: 700px) {
    form {
        margin-top: 3rem;
    }
  }
