        /*CODIGO GERAL*/

* {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* html, body {
    height: 100%;
} */

body {
    /* background-image: url("../img/background.jpg"); */
    background-size: 100%;

}

        /*HEADER*/

.header {
  height: 1px;
}

.header > button {
  float: right;
  margin-right: 5%;
  margin-top: 2.5%;
  font-size: 20px;
  border-radius: 20px;
  background: transparent;
  border-style: solid;
  border-color: gray;
  padding: 0.5rem 0.5rem;
  color: black;
}

.header > button:hover {
  border-color: black;
  color: gray;
  background-color: white;
}

.header > button:last-of-type{
    margin-right: 1%;
}

.header > button:first-of-type{
    color: rgb();
}

        /*DIV E BOTAO HOME*/

.about_us {
    width: 40%;
    height: 30%;
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 1);
    margin-top: 18%;
    box-shadow: 5px 5px 5px rgba(130, 130, 130, 0.5);
    font-size: 20px;
}

.about_us > p {
    text-align: center;
    margin: 4%;
    padding: 1%;
    
}

.about_us > button {
    width: 25%;
    height: 5%;
    background: rgb(255, 255, 255);
    float: center;
    border: 1px solid black;
    border-radius: 20px;
    font-size: 20px;
    margin-top: 2.5%;
    padding: 0.5rem 0.5rem;
    font-weight: bold;
    margin-bottom: 5%;
}