<!DOCTYPE html>
<html lang="pt-br">
   <head>
      <meta http-equiv="content-type" content="text/html; charset=UTF-8">
      <title>Kamaleão - Home</title>
      <link rel="stylesheet" href="style/home.css">
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Urbanist:wght@500&display=swap" rel="stylesheet">
      <link rel="shortcut icon" type="image/x-icon" href="/GitHub/Kamaleao/app/public/View/assets/img/LogoKamaleao1.png" />
      <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
      <script src="https://kit.fontawesome.com/39478fd21b.js" crossorigin="anonymous"></script>
      <script src="https://kit.fontawesome.com/881bb3d101.js" crossorigin="anonymous"></script>
      <script src="https://code.jquery.com/jquery-3.3.1.js "></script>
      <script type="text/javascript" src="js/home.js"></script>
   </head>
   <body>
      <div class="tudo">
      <nav class="header"> <!--<i class='bx bx-bell' id="icon_nav"></i>-->
         <img class="logo" src="/GitHub/Kamaleao/app/public/View/assets/img/LogoKamaleao1.png" alt="logo">
         <div class="search"><input type="text" placeholder="Pesquisar..."/></div>

         <ul class="dropdown"> <!--ENGLOBA TD-->
            <li class="icone">
               <button><i class='bx bx-bell' id="icon_nav"></i></button>
                <ul id="noti" class="active">
                    <li><a href="#" class="opt">notificacao 1</a></li>
                    <li><a href="#" class="opt">notificacao 2</a></li>
                    <li><a href="#" class="opt">notificacao 3</a></li>
                </ul>
            </li>

            <li class="icone">
                <i class='bx bx-user-circle' id="icon_nav"></i>
               <ul class="perfil">
                  <li><a href="#" class="opt">Ver perfil</a></li>
                  <li><a href="#" class="opt">Configurar conta</a></li>
                  <li><a href="#" class="opt">Adicionar conta +</a></li>
                  <li><a href="#" class="opt">Sair</a></li>
               </ul>
            </li>

            <li class="icone">
                <i class='bx bx-menu' id="icon_nav"></i>
               <ul class="menu">
                  <li><a href="#" class="opt">Sobre o Kamaleão</a></li>
                  <li><a href="#" class="opt">Configurações</a></li>
                  <li><a href="#" class="opt">Contato</a></li>
                  <li><a href="#" class="opt">Ajuda</a></li>
               </ul>
            </li>

         </ul> <!--ENGLOBA TD-->
      </nav> <!--header-->


      <nav class="filtro">  <!--filtro-->
         <select name="" id="">
            <option value="" selected="true" disabled="disabled">Filtro</option>
            <option value="">Arte Digital</option>
            <option value="">Design</option>
            <option value="">Logos</option>
            <option value="">Concept Arts</option>
            <option value="">Uso pessoal</option>
            <option value="">Uso comercial</option>
         </select>
      </nav> <!--filtro-->
      </div> <!--tudo-->

      <div class="container">
         
      </div>
      <footer>
         <div class="container-footer">
            <div class="linha">
               <div class="coluna">
                  <h4>Kameleão</h3>
                  <hr/>
                     <ul class="ul-coluna">
                        <li class="li-coluna"><a href="#">Sobre nós</a></li>
                        <li class="li-coluna"><a href="#">Políticas de Privacidade</a></li>
                        <li class="li-coluna"><a href="#">Termos de Serviço</a></li>
                     </ul>
               </div> <!--coluna-->
               <div class="coluna">
                  <h4>Ajuda</h3>
                  <hr/>
                     <ul class="ul-coluna">
                        <li class="li-coluna"><a href="#">FAQ</a></li>
                        <li class="li-coluna"><a href="#">Compra</a></li>
                        <li class="li-coluna"><a href="#">Venda</a></li>
                     </ul>
               </div> <!--coluna-->
               <div class="coluna">
                  <h4>Contato</h3>
                  <hr/>
                     <ul class="ul-icons">
                        <li class="li-icons"><i class='bx bxl-instagram'></i></li>
                        <li class="li-icons"><i class='bx bxl-twitter' ></i></li>
                        <li class="li-icons"><i class='bx bxl-facebook' ></i></li>
                        <li class="li-icons"><i class='bx bx-envelope'></i></li>
                     </ul>
               </div> <!--coluna-->
            </div> <!--linha-->
         </div> <!--container-footer-->
      </footer>
   </body>
</html>