* {
    margin: 0;
    padding: 0;
    font-family: Arial;
}

body {
    background-image: url("../../assets/img/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    overflow-x: hidden;
}

.form_refinicao {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    top: 50%;
    transform: translateY(30%); 
}

form {
    margin-top: 2rem;
    text-align: center;
}


fieldset {
    padding: 2rem;
    border: 1px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    background-color: white;
    margin-top:5rem;
}

fieldset h1 {
    margin-bottom: 0.5rem;
}

fieldset p {
    font-size: 18px;
    margin-top: 2rem;
    margin-bottom: 0.5rem;
    text-align: center;
}

.redefinicao input[type=text], input[type=password] {
    margin-bottom: 1rem;
  }

form input[type=text], input[type=password] {
    width: 100%;
    height: 2.5rem;
    font-size: 18px;
    border-radius: 15px;
    border: 1px solid #363636;
    padding-left: 15px;
    margin-left: -0.5rem;
}

form input[type=text], input[type=password]:focus{
    outline: 0;
    
}

/*botao*/

.botao {
    border: 1px solid #363636;
    width: 90%;
    height: 2.5rem;
    max-width: 200px;
    background-color: transparent;
    border-radius: 15px;
    margin-top: 1rem;
    padding: 2px;
    cursor: pointer;
    font-size: 28px;
    color: #363636;
    font-family: 'Urbanist', sans-serif;
}

.botao:hover {
    color: rgb(255, 255, 255);
    cursor: pointer;
    background-image: url("../../assets/img/botao.jpg");
    background-size: 100%;
    transition: 0.5s;
    border: none;
    box-shadow: 6px 8px 15px -3px rgba(0,0,0,0.2);
}

@media screen and (max-width: 1400px) {
    form {
        width: 100%;
        max-width: 500px;
        max-height: 100px;
    }
}

@media screen and (max-width: 800px) {
    form {
        margin-top: 5rem;
        width: 100%;
        max-width: 300px;
        max-height: 100px;
    }
}