<!DOCTYPE html>
<html>
<head>
    <title>Kamaleao - Aviso de E-mail</title>
    <link rel="stylesheet" href="style/aviso_email.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Urbanist:wght@500&display=swap" rel="stylesheet">
    <link rel="shortcut icon" type="image/x-icon" href="../assets/img/LogoKamaleao1.png" />
    <meta charset="utf-8" />
</head>

<body>
    <div class="conf_email">
        <h1>Um email foi enviado para sua caixa de entrada!</h1>
        <p>Pronto! Um link temporário para a redefinição de senha foi enviado para o endereço de e-mail indicado!</p>
    </div>
</body>

</html>