* {
    margin: 0;
    padding: 0;
    font-family: Arial;
}

body {
    background-image: url("../../assets/img/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

/*form*/

.form_login {
    margin: 0 auto;
    width: 25rem;
    max-width: 500px;
}

input[type=text]{
    width: 80%;
    height: 2.5rem;
    font-size: 18px;
    border-radius: 15px;
    border: 1px solid #363636;
    padding-left: 10px;
}

.rec_senha {    
    text-align: center;
    align-items: center;
    margin: 0 auto;
    position: relative;
    transform: translateY(40%); 
    padding: 4rem;
    border: 1px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    background-color: white;
    width: 30rem;
    margin-top:-5rem;
}

.botao {
    border: 1px solid #363636;
    width: 90%;
    height: 3rem;
    max-width: 200px;
    background-color: transparent;
    border-radius: 15px;
    margin-top: 2.5rem;
    margin-bottom: 1rem;
    padding: 2px;
    cursor: pointer;
    font-size: 30px;
    color: #363636;
}

.botao:hover {
    color: rgb(255, 255, 255);
    cursor: pointer;
    background-image: url("../../assets/img/botao.jpg");
    background-size: 100%;
    transition: 0.5s;
    border: none;
    box-shadow: 6px 8px 15px -3px rgba(0,0,0,0.2);
}

p {
    padding: 3em 0rem 1rem 0rem;
    font-size: 22px;
}


@media screen and (max-width: 1400px) {
    /* form{
        margin-top: 20%;
    } */
  }