* {
    margin: 0;
    padding: 0;
    font-family: Arial;
}

body {
    background-image: url("../../assets/img/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    overflow-x: hidden;
}

.form_cadastro {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    top: 50%;
    transform: translateY(30%); 
}

form {
    text-align: center;
}

fieldset {
    padding: 2rem;
    border: 1px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    background-color: white;
}

fieldset h1 {
    margin-bottom: 0.5rem;
}

fieldset p {
    font-size: 18px;
    margin-top: 2rem;
    margin-bottom: 0.5rem;
    text-align: left;
}

.grid_cadastro{
    display: grid;
    grid-template-columns: 23rem 23rem;
    margin-bottom: 1rem;
    margin-left: 1.5rem;

  }
form input[type=date]{
    width: 19rem;
    height: 2.5rem;
    font-size: 18px;
    border-radius: 15px;
    border: 1px solid #363636;
    padding-left: 15px;
    padding-right: 17px;
    margin-left: -30px;
}
form input[type=text], input[type=password] {
    width: 20rem;
    height: 2.5rem;
    font-size: 18px;
    border-radius: 15px;
    border: 1px solid #363636;
    padding-left: 15px;
    margin-left: -30px;
}

form input[type=text], input[type=password]:focus{
    outline: 0;
    
}

/*botao*/

.form_cadastro .botao {
    border: 1px solid #363636;
    width: 90%;
    height: 2.5rem;
    max-width: 200px;
    background-color: transparent;
    border-radius: 15px;
    margin-top: 1rem;
    padding: 2px;
    cursor: pointer;
    font-size: 28px;
    color: #363636;
    font-family: 'Urbanist', sans-serif;
}

.botao:hover {
    color: rgb(255, 255, 255);
    cursor: pointer;
    background-image: url("../../assets/img/botao.jpg");
    background-size: 100%;
    transition: 0.5s;
    border: none;
    box-shadow: 6px 8px 15px -3px rgba(0,0,0,0.2);
}

/*esqueci negocio*/

.esqueci {
    text-decoration: none;
    font-size: 12px;
    color: #363636BF;
    margin-bottom: 5rem;
}

/*flexbox matenha*/

.pass span {
    font-size: 12px;
}

/* .form-message {
    padding-left: 10px;
    text-align: center;
    width: 90%;
    font-size: 1rem;
    color: #f44336;
    font-family: 'Urbanist', sans-serif;
} */

@media screen and (max-height: 800px) {
    fieldset {
        margin-top: -4rem;
    }
}
    

@media screen and (max-width: 850px) {
    .grid_cadastro {
        display: block;
    }

    fieldset {
        margin-top: -10rem;
    }
}

