* {
    margin: 0;
    padding: 0;
    font-family: Arial;
}

body {
    background-image: url("../../img/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

/*form*/

.form_login {
    margin: 0 auto;
    width: 90%;
    max-width: 500px;
}

.logo {
    width: 10rem;
    position: absolute;
    margin-left: 2rem;
    top: 1.5rem;
    display: block;
}

form {
    margin-top: 7.5rem;
    text-align: center;
}

fieldset {
    padding: 3rem;
    border: 1px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    background-color: white;
    height: 25rem;
}

fieldset p {
    font-size: 22px;
    margin-top: 2rem;
    margin-bottom: 1rem;
    text-align: left;
}


.email {
    margin: 0 auto;
    width: 300px;
    font-size: 25px;
}

.senha {
    margin: 0 auto;
    width: 300px;
    text-align: left;
}

form input[type=text], input[type=password] {
    width: 100%;
    height:2.5rem;
    font-size: 18px;
    border-radius: 15px;
    border: 1px solid #363636;
    padding-left: 10px;
}

form input[type=text], input[type=password]:focus{
    outline: 0;
    
}



/*botao*/

.form_login .botao {
    border: 1px solid #363636;
    width: 90%;
    height: 3rem;
    max-width: 200px;
    background-color: transparent;
    border-radius: 15px;
    margin-top: 2rem;
    margin-bottom: 1rem;
    padding: 2px;
    cursor: pointer;
    font-size: 30px;
    color: #363636;
}

.botao:hover {
    color: rgb(255, 255, 255);
    cursor: pointer;
    background-image: url("../../img/botao.jpg");
    background-size: 100%;
    transition: 0.5s;
    border: none;
    box-shadow: 6px 8px 15px -3px rgba(0,0,0,0.2);
}

/*esqueci negocio*/

.esqueci {
    text-decoration: none;
    font-size: 12px;
    color: #363636BF;
    margin-bottom: 5rem;
}

/*flexbox matenha*/

#checkbox {
    cursor: pointer;
    margin-top: 1rem;
    margin-right: 1vh;
}

.pass span {
    font-size: 12px;
}