* {
    margin: 0;
    padding: 0;
    font-family: Arial;
    list-style: none;
}

body {
    background-image: url("/GitHub/Kamaleao/app/public/View/assets/img/background2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    overflow-x: hidden;
}

.form_aceitar {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    top: 20%;
    margin-top: 5rem;
}

form {
    text-align: center;
}

fieldset {
    padding: 2rem;
    width: 30rem;
    border: 1px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    background-color: white;
    height: 42rem;
}

fieldset h1 {
    margin-top: 2rem;
    color: #363636;
}

.div_aceitar{
    display: block;
    margin: 0 auto;
    grid-template-columns: 23rem 23rem;
    margin-bottom: 1rem;
    padding-top: 1rem;
}

.div_aceitar div {
    display: block;
    margin: 0 auto;
}

.div_aceitar p {
    font-size: 18px;
    margin-bottom: 1rem;
    margin-top: 2rem;
    margin-left: 3rem;
    text-align: left;
}

.variavel {
    width: 20rem;
    height: 2.5rem;
    font-size: 18px;
    border-radius: 15px;
    border: 1px solid #363636;
    padding-left: 15px;
    margin-left: 2.5rem;
}

.variavel p {
    margin-top: 0.6rem;
    margin-left: 0;
    color: rgb(90, 90, 90);
}


.descricao {
    width: 20rem;
    height: 5rem;
    border-radius: 15px;
    border: 1px solid #363636;
    padding-left: 15px;
    margin-left: 2.5rem ;
}

.descricao p {
    margin-top: 0.6rem;
    margin-left: 0;
    color: rgb(90, 90, 90);
}
/*botao*/

.botao1, .botao2 {
    border: 1px solid #363636;
    width: 90%;
    height: 3rem;
    max-width: 200px;
    background-color: transparent;
    border-radius: 15px;
    cursor: pointer;
    font-size: 28px;
    color: #363636;
    font-family: 'Urbanist', sans-serif;
    margin-top: 1rem;
}




.botao1:hover {
    color: rgb(255, 255, 255);
    cursor: pointer;
    background-image: url("/GitHub/Kamaleao/app/public/View/assets/img/botao.jpg");
    background-size: 100%;
    transition: 0.3s;
    border: none;
    box-shadow: 6px 8px 15px -3px rgba(0,0,0,0.2);
}

.botao2:hover {
    color: rgb(255, 255, 255);
    cursor: pointer;
    background-image: url("/GitHub/Kamaleao/app/public/View/assets/img/botao.jpg");
    background-size: 100%;
    transition: 0.3s;
    border: none;
    box-shadow: 6px 8px 15px -3px rgba(0,0,0,0.2);
}



@media screen and (max-height: 800px) {
    fieldset {
        margin-top: -5rem;
    }
}
    

@media screen and (max-width: 850px) {

    fieldset {
        width: 100%;
        height: 45rem;
    }

    .grid_cadastro {
        display: block;
    }

    .variavel {
        width: 18rem;
    }

    .descricao {
        width: 18rem;
    }
    
    .div_aceitar {
        height: 80vh;
        margin-left: 0;
    }
}

@media screen and (max-width: 1400px) {
    fieldset {
        padding: 5px;
    }
}