.anuncio {
    width: 80%;
    height: 45vh;
    margin: 0 auto;
    display: flex;
    flex: wrap;
    margin-bottom: 50px;

}

.desenho {
    display: block;
    margin: 0 auto;
    margin-left: .5rem;
    border: 2px solid #ccc;
    border-radius: 10px;
    width: 25rem;
    height: 100%;
    background-image: url("/GitHub/Kamaleao/app/public/View/assets/img/background2.jpg");
}

.float {
    border: 2px solid #ccc;
    border-radius: 30px;
    width: 50%;
    height: 80%;
    margin: 30px;
    padding: 20px;
    text-align: left;
}

.float h1, h2 {
    margin-bottom: .5rem;
    color: #363636;
}

.info {
    width: 80%;
    height: 50vh;
    margin: 0 auto;
}

.info h1 {
    margin-left: 40px;
    font-size: 18px;
    color: #363636;
}

.info div {
    border: 2px solid #ccc;
    border-radius: 30px;
    width: 90%;
    height: 10vh;
    margin: 20px auto;
    padding: 30px;
}

.info p {
    font-size: 15px;
    text-align: justify;
}

.lic .licencas {
    height: 100px;
}

.lic .licencas li {
    display: block;
    margin-left: 30px;
    cursor: pointer;
}

.lic .licencas a {
    cursor: pointer;
    color: #363636;
    transition: .5s;
}

.lic .licencas a:hover {
    margin-left: 10px;
    color: #F53446;
    
}

.float h1 {
    font-size: 18px;
    color: #363636;
}

.float h2 {
    font-size: 15px;
    color: #363636;
}

button {
    border: 1px solid #363636;
    width: 70%;
    margin-left: 2.5rem;
    height: 3rem;
    background-color: transparent;
    border-radius: 15px;
    margin-top: 0.5rem;
    padding: 2px;
    font-size: 20px;
    color: #363636;
}

button:hover {
    color: rgb(255, 255, 255);
    background-image: url("/GitHub/Kamaleao/app/public/View/assets/img/botao.jpg");
    background-size: 100%;
    transition: 0.3s;
    border: none;
    box-shadow: 6px 8px 15px -3px rgba(0,0,0,0.1);
}

@media screen and (max-width:875px) {

    .container {
        width: 100%;
        height: 150vh;
    }


    .anuncio {
        margin: 0;
        display: block;
        max-width: 500px;
    }

    .float {
        width: 50%;
        margin-top: .5rem;
        margin-left: 6rem;
    }

    button{
        font-size: 16px;
        margin-left: 2rem;
    }

    .float h1, h2 {
        font-size: 20px;
        color: #363636;
    }

    .lic .licencas li {
        font-size: 13px;
        margin-left: .5rem;
    }

    .info {
        margin-left: .4rem;
        margin-top: 25rem;
        width: 80%;
    }

    .info div {
        height: 2vh;
    }

    h1 {
        text-align: center;
    }


}