* {
  font-family: 'Trebuchet MS', sans-serif;
  /*font-family: 'Urbanist', sans-serif;*/
}

.container {
  padding-top: 140px;
  height: 135vh;
}

.nav_filtro {
  display: none;
}

form input[type=file] {
  display: none;
}

.md label {
  display: block;
  margin: 0 auto;
  border: 1px solid #363636;
  padding: 0.3rem 1rem;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
  width: 50%;
}

.md .idform button {
  margin-left: .5rem;
  margin-top: 4em;
  display: inline-block;
}

.md .idform button:first-of-type{
  margin-left: 2.5rem;
}

h1, h6 {
  text-align: center;
  color: #363636;
}

@keyframes modal {
  from {
    opacity: 0;
    transform: translate3d(0, -60px, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.md-ct {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100%;
  background: rgba(0,0,0,.5);
  z-index: 2000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.md .fa-times-circle {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 18pt;
  float: right;
  cursor: pointer;
  color: #363636;
}

.md .fa-times-circle:hover {
  color: #F53446;
}

#conf-excluir {
  width: 20%;
  height: 25%;
  overflow-y: hidden;
}

#conf-excluir .grid_button {
  width: 100%;
}

#conf-excluir .botao {
  display: inline-block;
  width: 49.2%;
}

.md-ct-pos, .main-initial {
  display: none;
}

.main {
  display:grid;
  row-gap: 2rem;
  grid-template-rows:  5% 20% 15% 15% 15% 15% 15%;
}

.main h3 {
  display: inline-block;
  color: #363636;
} 

.main p {
  margin-bottom: 2rem;
  font-size: 18px;
  color: #363636;
}

.md {
  background-color: #ffff;
  width: 40%;
  min-width: 300px;
  max-width: 500px;
  height: 40%;
  max-height: 600px;
  padding: 5rem 2rem 2rem 2rem;
  border-radius: 40px 5px 40px 5px;
  position: relative;
  overflow-y: auto;
}

.md p {
  margin: 2rem;
}

.md h3 {
  color: #363636;
}

.show .md {
  animation: modal .6s;
}

button{
  display: block;
  margin: 0 auto;
  border: 1px solid #363636;
  width: 90%;
  height: 3rem;
  max-width: 200px;
  background-color: transparent;
  border-radius: 15px;
  margin-top: 2.5rem;
  padding: 2px;
  cursor: pointer;
  font-size: 30px;
  color: #363636;
}

button:hover{
  color: rgb(255, 255, 255);
  cursor: pointer;
  background-image: url("/GitHub/Kamaleao/app/public/View/assets/img/botao.jpg");
  background-size: 100%;
  transition: 0.3s;
  border: none;
  box-shadow: 6px 8px 15px -3px rgba(0,0,0,0.2);
}

h3 {
  font-size: 28px;
}

h3, p {
  text-align: center;
}

input[type=text], form input[type=password] {
  display: block;
  margin: 0 auto;
  width: 90%;
  max-width: 600px;
  height: 2.5rem;
  font-size: 22px;
  border-radius: 15px;
  border: 1px solid #363636;
  padding-left: 10px;
}

.form-message{
  margin: 0 auto;
  width: 80%;
  margin-top: 2em;
  font-size: 1.10rem;
  font-family: 'Urbanist', sans-serif;
}

.erro {
  color: #f44336 !important;
}

.sucesso {
  color: #00a800 !important;
}

.info_icone {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.icone_perf {
  border: 1px solid #ccc;
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  cursor: pointer;
  transition: .4s;
  background-color: rgba(0,0,0,.3);
}

.icone_perf:hover {
  box-shadow: 0 3px 10px rgba(0,0,0,.2);
}

.icone_edit {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: rgba(245, 52, 70, 0.8);
  align-items: center;
  display: none;
  position: relative;
  margin-top: -8.2rem;
}

.icone_edit2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: rgba(245, 52, 70, 0.8);
  align-items: center;
  display: none;
  position: relative;
}

.icone_perf:hover .icone_edit{
  display: flex;
}

.icone_perf:hover .icone_edit2{
  display: flex;
}

.icone_edit2 i {
  margin: 0 auto;
  color: #ffff;
}

.icone_edit i {
  margin: 0 auto;
  color: #ffff;
}

.info_perfil {
  border: 1px solid #ccc;
  border-radius: 30px;
  width: 70%;
  height: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 25% 75%;
  transition: .4s;
  cursor: pointer;
}

.info_perfil:hover {
  width: 80%;
  box-shadow: 0 3px 10px rgba(0,0,0,.2);
}

.info_perfil:hover h3 {
  color: #F53446;
}

.info_perfil p {
  text-align: left;
  margin-left: 1rem;
}

.info_perfil h3 {
  margin: 2rem 0rem 1rem 1rem;
  transition: .4s;
}

.edit_icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.info_perfil:hover i {
  color: rgba(245, 52, 70, 1);
}


.fa-pen {
  font-size: 30pt;
  color: #363636;
  transition: .4s;
}

textarea { 
  resize: none;
  width: 100%;
  height: 30%;
  border-radius: 15px;
  outline: none;
  padding-left: 10px;
  padding-top: 5px;
  margin-left: -5px;
}

.edit_text p {
  font-size: 100%;
}

.md h3 {
  display: block;
  margin: 0 auto;
}

.pass input[type=password] {
  margin-top: 1rem;
}

.perf_img {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  align-items: center;

}

.perf_img + i#hoverpen {
  opacity: 0;
  margin: 0 auto;
}

.perf_img:hover {
  opacity: 0.4;
}

.perf_img:hover ~ i#hoverpen {
  opacity: 1;
  color: #F53446;
}

i#hoverpen:hover{
  opacity: 1;
  color: #F53446;
}

i#hoverpen ~ .perf_img{
  opacity: 0.4;
}

.md span {
  display: block;
  margin: 0 auto;
  text-align: center;
  margin: .5rem;
  font-weight: 800;
}

/* RESPONSIVIDADE */

@media screen and (max-height: 800) {
  
  .perf_img + i#hoverpen {
    top: 50%;
    right: 47.5%;
    display: block;
    margin: 0 auto;
  }
}

@media screen and (max-height: 820px) {

  .container {
      height: 150vh;
    }

    .md {
      height: 47%;
    }
}

@media screen and (max-height: 750px) {

  .container {
      height: 165vh;
  }
}

@media screen and (max-height: 680px) {

  .container {
      height: 180vh;
  }

  .md {
    height: 60%;
  }
}

@media screen and (max-height: 620px) {

  .container {
      height: 195vh;
  }
}

@media screen and (max-height: 570px) {

  .container {
      height: 210vh;
  }
  
  .md {
    height: 70%;
  }
}

@media screen and (max-width: 800px) {
  ::-webkit-scrollbar-thumb {
    background: #fff;
  }
}

@media screen and (max-width: 610px) {

  .main h3 {
    display: inline-block;
    color: #363636;
    font-size: 15pt;
  }
  
}
