* {
  font-family: 'Segoe UI','Open Sans', 'Helvetica Neue', sans-serif;
}

.nav_filtro {
  display: none;
}

h1 {
  text-align: center;
}

@keyframes modal {
  from {
    opacity: 0;
    transform: translate3d(0, -60px, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.md-ct {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100%;
  background: rgba(0,0,0,.5);
  z-index: 2000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.md-ct-pos, .main-initial {
  display: none;
}

.main {
  display:flex;
  flex-direction: column;
}

.main h3{
  margin-top: 1rem;
}

.main p {
  margin-bottom: 2rem;
  font-size: 18px;
  color: #363636;
}

.md {
  background-image: url("/GitHub/Kamaleao/app/public/View/assets/img/background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  width: 40%;
  min-width: 300px;
  height: 80%;
  max-height: 600px;
  padding: 40px;
  border-radius: 40px 5px 40px 5px;
  position: relative;
  overflow-y: auto;
}

.show .md {
  animation: modal .6s;
}

.md h3{
  margin-top: 7.5rem;
}

button{
  display: block;
  margin: 0 auto;
  border: 1px solid #363636;
  width: 90%;
  height: 3rem;
  max-width: 200px;
  background-color: transparent;
  border-radius: 15px;
  margin-top: 2.5rem;
  padding: 2px;
  cursor: pointer;
  font-size: 30px;
  color: #363636;
}

button:hover{
  color: rgb(255, 255, 255);
  cursor: pointer;
  background-image: url("/GitHub/Kamaleao/app/public/View/assets/img/botao.jpg");
  background-size: 100%;
  transition: 0.3s;
  border: none;
  box-shadow: 6px 8px 15px -3px rgba(0,0,0,0.2);
}

.modal-button button {
  background-color: #fff;
}

h3 {
  font-size: 28px;
}

h3, p {
  text-align: center;
}

form input[type=text], form input[type=password] {
  display: block;
  margin: 0 auto;
  margin-top: .5rem;
  width: 100%;
  max-width: 600px;
  height: 2.5rem;
  font-size: 18px;
  border-radius: 15px;
  border: 1px solid #363636;
  padding-left: 10px;
}

.md .m2 {
  text-align: left;
  margin-left: 8%;
  margin-top: 1rem;
}

form input[type=text]:focus{
  outline: 0;
}

.form-message{
  margin: 0 auto;
  width: 80%;
  margin-top: 2em;
  font-size: 1.10rem;
  color: #f44336;
  font-family: 'Urbanist', sans-serif;
}

.modal-bg{
  position:fixed;
  width:100%;
  height:100vh;
  left:0;
  top:0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  visibility:hidden;
  opacity:0;
  transition: visibility 0s, opacity0.5s; 
}

.bg-active{
  visibility: visible;
  opacity:1;
}

.md textarea {
  display: block;
  margin: 0 auto;
  resize: none;
  width: 100%;
  max-width: 600px;
  outline: none;
  border-radius: 15px;
  border: 1px solid #363636;
  padding: 10px 0 0 10px;
} 

.icone_perf {
  color: #a6a6a6;
  font-size: 125px;
  display: block;
  margin: 0 auto;
  margin-bottom: 1.5rem;
}

.icone_perf:hover {
  color: #ccc;
}

.cliqueperf {
  display: block;
  margin: 0 auto;
  width: 23%;
  line-height: 30px;
  cursor: pointer;
  transition: .4s;
}

.cliqueperf:hover {
  color: #F53446;
}

.md.dois {
  height: 100%;
  max-height: 850px;
}