* {
    margin: 0;
    padding: 0;
    font-family: Arial;
}

body {
    background-image: url("/GitHub/Kamaleao/app/public/View/assets/img/background2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    overflow-x: hidden;
}

input, textarea {
    outline: none;
}

.form_anuncio {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    top: 50%;
    margin-top: 0.5rem;
    overflow-y: auto;
}   

form {
    text-align: center;
}

fieldset {
    margin-top: 15%;
    padding: 2rem;
    border: 1px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    background-color: white;
}

fieldset h1 {
    margin-top: 2rem;
    color: #363636;
}

.grid_anuncio p {
    font-size: 18px;
    margin-bottom: 1rem;
    margin-top: 2rem;
    margin-left: 0.5rem;
    text-align: left;
}

.grid_anuncio{
    display: grid;
    grid-template-columns: 23rem 23rem;
    margin-bottom: 1rem;
    margin-left: 1.5rem;
    padding-top: 1rem;
}

.check {
    text-align: left;
    margin-left: 1rem;
    color: #363636;
}

form input[type=checkbox]{
    width: 1rem;
    height: 1rem;
    margin-top: 0.5rem;
    cursor: pointer;
}

.check label {
    cursor: pointer;
}

#titulo {
    width: 20rem;
    height: 2.5rem;
    font-size: 18px;
    border-radius: 15px;
    border: 1px solid #363636;
    padding-left: 15px;
    margin-left: -30px;
}
#preco {
    width: 20rem;
    height: 2.5rem;
    font-size: 18px;
    border-radius: 15px;
    border: 1px solid #363636;
    padding-left: 15px;
    margin-left: -30px;
}

textarea {
    resize: none;
    padding: 0.5rem;
    width: 20rem;
    height: 5rem;
    font-size: 18px;
    border-radius: 15px;
    border: 1px solid #363636;
    padding-left: 15px;
    margin-left: -30px;
}


form input[type=text]:focus{
    outline: 0;
    
}

form input[type=file] {
    display: none;
}

.left label{
    border: 1px solid #363636;
    padding: 0.3rem 1rem;
    cursor: pointer;
    border-radius: 5px;
    margin-left: -2rem;
}

/*botao*/

.form_anuncio .botao {
    border: 1px solid #363636;
    width: 90%;
    height: 3rem;
    max-width: 200px;
    background-color: transparent;
    border-radius: 15px;
    padding: 1px;
    cursor: pointer;
    font-size: 28px;
    color: #363636;
    font-family: 'Urbanist', sans-serif;
    margin-bottom: 7px;
    margin-top: 2rem;
}

.botao:hover {
    color: rgb(255, 255, 255);
    cursor: pointer;
    background-image: url("/GitHub/Kamaleao/app/public/View/assets/img/botao.jpg");
    background-size: 100%;
    transition: 0.3s;
    border: none;
    box-shadow: 6px 8px 15px -3px rgba(0,0,0,0.2);
}

@media screen and (max-width: 1400px) {
    fieldset {
        margin-top: 0;
    }
}

@media screen and (max-width: 850px) {
    .grid_anuncio {
        display: block;
    }

    .left p, .right p {
        margin-left: -1rem;
    }
    
    .check {
        margin-left: 0;
    }
}
