.container {
    padding-bottom: 5rem;
}

.grid_home {
    display: grid;
    background-color: #ffff;
    grid-template-columns: 25% 25% 25% 25%;
    margin: 0 auto;
    height: 100%;
    width: 90%;
    padding-top: 0.5rem;
}

.item {
	margin: 0 auto;
	background: #ffff;
    border-radius: 10px 10px 10px 10px;
    height: 16rem;
    width: 80%;
    border: 1px solid #ccc;
    cursor: pointer;
    transition: .6s;
    display: grid;
    grid-template-rows: 68% 12% 8% 12%;
}

.item:hover {
    box-shadow: 0 3px 10px rgba(0,0,0,.2);
    width: 90%;
}

.item:hover h2 {
    color: #F53446;
}

.anuncio_img {
    width: 100%;
    height: 100%;
    border-radius: 10px 10px 0 0;
    background-color: powderblue;
}

.anuncio_text {
    padding: 0.5rem;
    width: 93%;
}

.text_flex {
    display: flex;
    justify-content: space-between;
    margin-top: 0.7rem;
}

.anuncio_titulo h1 {
    font-size: 12pt;
    color: #363636;
    margin: 0.5rem;
}

.anuncio_preço h2 {
    font-size: 12pt;
    color: #363636;
    transition: .4s;
    margin-right: 0.5rem;
    float: right;
}

.anuncio_user h3 {
    color: #808080;
    font-size: 10pt;
    margin: 0.2rem 0.5rem;

}

@media screen and (max-width: 1030px) {

    .container {
        height: fit-content;
    }

    .grid_home { 
        row-gap: 2rem;
        width: 85%;
        grid-template-columns: 33% 33% 33%;
    }
}

@media screen and (max-width: 800px) {

    .container {
        height: 250vh;
    }

    .grid_home { 
        grid-template-columns: 50% 50%;
        width: 75%;
    }
}

@media screen and (max-width: 680px) {

    .container {
        height: 500vh;
    }

    .grid_home { 
        grid-template-columns: 100%;
        width: 60%;
    }

    .item {
        height: 20rem;
    }
}

@media screen and (max-height: 900px) {

    .container {
        height: fit-content;
    }
    
}