.filtro {
  display: none;
}
/* Header de Perfil */


.container {
  position: relative;
  z-index: -1;
  margin: 0 auto;
  background-color: #fff;
  width: 100%;
  max-width: 85rem;
  height: 100vh;
  padding-top:160px;
}

.perfil_icon {
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.4) 25%, rgba(0,0,0,0.6) 50%, rgba(0,0,0,0.4) 75%, rgba(0,0,0,0) 100%);
    max-width: 85rem;
    height: 250px;
    margin: auto;
    text-align: center;
    padding-top:  150px;
  }
  
  .icone_perf {
    color: #fff;
    font-size: 150px;
  }

  .icone_perf:hover {
    color: #ccc;
  }

   .perfil_icon h1 {
     color: #fff;
     font-size: 40px;

  }

  /* Abas do Container */

  .abas { 
    width: 100%;
  }

  .all {
    margin: 0 auto;
    background-color: #fff;
    width: 100%;
    max-width: 85rem;
    height: 120vh;
  }

  .tab {
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.4) 25%, rgba(0,0,0,0.6) 50%, rgba(0,0,0,0.4) 75%, rgba(0,0,0,0) 100%);
    margin: auto;
    width: 85rem;
    line-height: 5rem;
  }

  .tab div {
    display: inline-block;
    cursor: pointer;
    margin-right: -3.5px;
    background-color: rgb(245, 245, 245);
    border-radius: 30px 30px 0px 0px;
    width: 33.30%;
  }

  .tab div:last-child {
    margin-left: 0.25px;
  }
  
  /* Style the buttons inside the tab */
  .tab div button {
    background-color: inherit;
    color: black;
    padding: 22px 16px;
    width: 100%;
    height: 5rem;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 17px;
    text-transform: uppercase;
  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: #ddd;
  }
  
  /* Create an active/current "tab button" class */
  .tab button.active {
    background-color: #ccc;
  }
  
  /* Style the tab content */
  .tabcontent {
    float: left;
    padding: 0px 12px;
    width: 70%;
    border-left: none;
    height: 300px;
    display: none;
  }
  
  /* Clear floats after the tab */
  .clearfix::after {
    content: "";
    clear: both;
    display: table;
  }

  #Sobre h1{
    padding: 5rem;
    font-family: 'Urbanist';
    font-size: 2rem;
  }
  
  #Sobre i{
    font-size: 1.5rem;
    margin-left: 2.5rem;
  }

  #bt1, #bt2, #bt3 {
    background-color: #f1f1f1;
    border-radius: 30px 30px 0px 0px;
  }

  #bt1:hover, #bt2:hover, #bt3:hover{
    background-color: #ccc;
  }

  #bt1:focus, #bt2:focus, #bt3:focus {
    background-color: #fff;
  }

  @media screen and (max-width: 800px) {
    .tab div {
      display:block;
    }

    .tab {
      background: none;
      text-align: center;
      width: 85rem;
    }

    #bt1, #bt2, #bt3 {
      border-radius: 0;
      width: 10rem;
    }

    .tab div {
      border-radius: 0;
    }

  }