* {
  font-family: 'Trebuchet MS', sans-serif;
}

.nav_filtro {
  display: none;
}

.perfil_icon {
    text-shadow: 0px 0px 8px rgba(0, 0, 0, 0.4);
    width: 60%;
    height: 225px;
    margin: auto;
    padding-bottom: 3rem;
    text-align: center;
    padding-top:  80px;
  }
  
  .icone_perf {
    color: #fff;
    font-size: 125px;
  }
  
  .icone_perf:hover {
    color: #fff;
  }

   .perfil_icon h1 {
     color: #fff;
     font-size: 40px;
     text-transform: lowercase;
  }

  .perfil_icon p {
    padding: 1rem 0rem 2rem 0rem;
    color: #fff;
    font-size: 20px;
    text-align: center;
  }
  
  main {
    margin-top: 5rem;
    z-index: inherit;
    margin-bottom: 4rem;
    width: 100%;
  }

  .tab {
    margin: auto;
    width: 80%;
    max-width: 85rem;
    display:grid;
    grid-template-columns: auto auto auto;
    margin-top: -5%;
  }
  
  .tab div {
    display: inline-block;
    cursor: pointer;
    background-color: rgb(245, 245, 245);
    border-radius: 30px 30px 0px 0px;
  }
  
  /* Style the buttons inside the tab */
  .tab div button {
    background-color: inherit;
    color: black;
    padding: 22px 16px;
    width: 100%;
    height: 5rem;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 17px;
    text-transform: uppercase;
    font-weight: 600;
  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: #ddd;
  }
  
  /* Create an active/current "tab button" class */
  .tab button.active {
    background-color: #ccc;
  }
  .tab button:focus {
    background-color: #ccc;
  }
  
  .all {
    margin: 0 auto;
    padding-top: 1rem;
    background-color: #fff;
    width: 80%;
    max-width: 85rem;
    height: 120vh;
    border-radius: 0px 0px 30px 30px;
  }
  
  /* Style the tab content */
  .tabcontent {
    margin: 0 auto;
    padding-top: 1.5rem;
    width: 80%;
    border-left: none;
    height: 110vh;
    display: none;
  }

  
  /* Clear floats after the tab */
  .clearfix::after {
    content: "";
    clear: both;
    display: table;
  }

  #Sobre h1{
    padding: 5rem;
    font-size: 2rem;
  }
  
  #Sobre i{
    font-size: 1.5rem;
    margin-left: 2.5rem;
  }

  #bt1, #bt2, #bt3 {
    background-color: #f1f1f1;
    border-radius: 30px 30px 0px 0px;
  }

  #bt1:hover, #bt2:hover, #bt3:hover{
    background-color: #ccc;
  }

  #bt1:focus, #bt2:focus, #bt3:focus {
    background-color: #fff;
  }

  /* Conteúdo da pagina de serviços */
  
  
  .md-ct-pos {
    display: none;
  }
  
  .md-ct {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100%;
    background: rgba(0,0,0,.5);
    z-index: 2000;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .md-ct i#iconfecha {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 18pt;
    float: right;
    cursor: pointer;
    color: #363636;
    transition: .3s;
  }
  
  .md-ct i#iconfecha:hover {
    color: #F53446;
  }
  
  #iconfecha1 {
    position: absolute;
    top: 20%;
    right: 30%;
    font-size: 18pt;
    float: right;
    cursor: pointer;
    color: #363636;
    transition: .3s;
  }
  
  .form_anuncio {
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    overflow-y: auto;
  }

  .left, .right{
    text-align: center;
    align-items: center;
  }

  #editar-excluir > .grid_anuncio > .left, #editar-excluir > .grid_anuncio > .right{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .img-item{
    width:90%;
    height:90%;
    border-radius: 5%;
  }
  
  .form_edit {
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    overflow-y: auto;
    width: 40%;
  }
  
  .form_anuncio, .editar-excluir, .form_edit {
    padding: 2rem;
    border: 1px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.25);
    border-radius: 40px 5px 40px 5px;
    background-color: white;
    display: block;
  }
  
  .form_anuncio h1 {
    margin-top: 1rem;
    color: #363636;
  }
  
  .grid_anuncio p {
    font-size: 18px;
    margin-bottom: 1rem;
    margin-top: 2rem;
    margin-left: 0.5rem;
    text-align: left;
  }

  .grid_anuncio p#esp {
    margin-left: 1.4rem;
  }

  #editar-excluir .grid_anuncio p {
    margin-bottom: 1.3rem;
    margin-top: 0.7rem;
    margin-left: 0;
    text-align: left;
  }
  
  .form_anuncio .fa-times-circle#iconfecha {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 18pt;
    float: right;
    cursor: pointer;
    color: #363636;
  }
  
  .grid_anuncio{
    justify-content: center;
    align-items: center;
    display: grid;
    grid-template-columns: 23rem 23rem;
    margin-bottom: 1rem;
    margin-left: 1.5rem;
    padding-top: 1rem;
  }
  
  .check {
    text-align: left;
    margin-left: 1rem;
    color: #363636;
  }
  
  .grid_anuncio form input[type=checkbox]{
    width: 1rem;
    height: 1rem;
    margin-top: 0.5rem;
  }
  
  .check label {
    cursor: pointer;
  }
  
  .grid_anuncio #titulo {
    width: 20rem;
  height: 2.5rem;
  font-size: 18px;
  border-radius: 15px;
  border: 1px solid #363636;
  padding-left: 15px;
  margin-left: -30px;
}
.grid_anuncio #preco {
  width: 20rem;
  height: 2.5rem;
  font-size: 18px;
  border-radius: 15px;
  border: 1px solid #363636;
  padding-left: 15px;
  margin-left: -30px;
}

.grid_anuncio textarea {
  resize: none;
  padding: 0.5rem;
  width: 20rem;
  height: 5rem;
  font-size: 18px;
  border-radius: 15px;
  border: 1px solid #363636;
  padding-left: 15px;
  margin-left: -30px;
}


.grid_anuncio form input[type=text]:focus{
  outline: 0;
  
}

#imagem {
  display: none;
}

.grid_anuncio textarea:focus {
  outline: 0;
}

.grid_anuncio select:focus {
  outline: 0;
}

#escolha{
  border: 1px solid #363636;
  padding: 0.3rem 1rem;
  cursor: pointer;
  border-radius: 5px;
  margin-left: -2rem;;
}

select {
  width: 20rem;
  height: 2.5rem;
  font-size: 18px;
  border-radius: 15px;
  border: 1px solid #363636;
  cursor: pointer;
}

select option {
  font-size: 10pt;
  border: 1px solid #363636;
  cursor: pointer;
}

#alt-tit, #alt-desci, #alt-prec {
  padding-left: 10px;
}


/*botao*/


.form_anuncio .botao, .editar-excluir .botao {
  border: 1px solid #363636;
  width: 90%;
  height: 3rem;
  max-width: 200px;
  background-color: transparent;
  border-radius: 15px;
  padding: 1px;
  cursor: pointer;
  font-size: 28px;
  color: #363636;
}

.form_anuncio .botao:hover, .editar-excluir .botao:hover {
  color: rgb(255, 255, 255);
  cursor: pointer;
  background-image: url("/GitHub/Kamaleao/app/public/View/assets/img/botao.jpg");
  background-size: 100%;
  transition: 0.3s;
  border: none;
  box-shadow: 6px 8px 15px -3px rgba(0,0,0,0.2);
}

.grid_button{
  display: grid;
  grid-template-columns: 10rem 10rem;
  margin-bottom: 1rem;
  margin-left: 1.5rem;
  padding-top: 1rem;
}


@media screen and (max-width: 1400px) {
  fieldset {
    margin-top: 0;
  }
}

@media screen and (max-width: 850px) {
  .grid_anuncio {
    display: block;
  }
  
  .grid_anuncio .left p, .grid_anuncio .right p {
    margin-left: -1rem;
  }
  
  .check {
    margin-left: 0;
  }
}

.grid_home {
  display: grid;
  grid-template-columns: 33% 34% 33%;
  grid-template-rows: 33% 33% 33%;
  background-color: #ffff;
  width: 100%;
  height: 100%;
}

textarea  {  
   font-size: 10px;   
}

.item {
  margin: 0 auto;
  background: #ffff;
  border-radius: 10px 10px 10px 10px;
  height: 13rem;
  width: 100%;
  max-width: 12.8rem;
  border: 1px solid #ccc;
  cursor: pointer;
  transition: .6s;
  display: grid;
  grid-template-rows: 68% 12% 8% 12%;
}

.item:hover {
  box-shadow: 0 3px 10px rgba(0,0,0,.2);
}

.item:hover h2 {
    color: #F53446;
}

.anuncio_img {
    display: block;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    border-radius: 10px 10px 0 0;
}

.anuncio_text {
    padding: 0.5rem;
    width: 93%;
}

.text_flex {
    display: flex;
    justify-content: space-between;
    margin-top: 0.7rem;
}

.anuncio_titulo {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: "ellipsis";
}

.anuncio_titulo h1 {
    font-size: 12pt;
    color: #363636;
    margin: 0.5rem;
    overflow: hidden;
}

.anuncio_preço h2 {
    font-size: 12pt;
    color: #363636;
    transition: .4s;
    margin-right: 0.5rem;
    float: right;
}

.anuncio_user h3 {
    color: #808080;
    font-size: 10pt;
    margin: 0.2rem 0.5rem;

}

#adicionar {
	margin: 0 auto;
	background: #ffff;
  border-radius: 10px 10px 10px 10px;
  height: 12.8rem;
  max-width: 12.8rem;
  width: 80%;
  border: 2px dashed #ccc;
  background-color: #fff;
  transition: .4s;
  cursor: pointer;
  display: flex;
  align-items: center;
}

#adicionar i {
  margin: 0 auto;
  font-size: 60pt;
  color: #363636;
  transition: .2s;
}

#adicionar:hover {
  background-color: rgb(233, 233, 233);
}

#adicionar:hover i {
  font-size: 75pt;
}

.form-message{
  margin: 0 auto;
  width: 80%;
  margin-top: 2em;
  margin-bottom: 1rem;
  font-size: 1.10rem;
}

.erro {
  color: #f44336 !important;
}

.sucesso {
  color: #00a800 !important;
}

.editar-excluir {
  background-color: #fff;
  border-radius: 40px 5px 40px 5px;
  text-align: center;
}

.editar-excluir h1 {
  color: #363636;
  margin-top: 3%;
}

.md-ct {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100%;
  background: rgba(0,0,0,.5);
  z-index: 2000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btmd {
  position: relative;
  width: 9rem;
  height: 3rem;
  background: rgb(255, 255, 255);
  float: center;
  border: 1px solid rgba(54, 54, 54, 1);
  border-radius: 20px;
  font-size: 1.5rem; 
  font-weight: bold;
  color: rgba(54, 54, 54, 1);
  margin-top: 5%;
}

.btmd:hover {
  color: rgb(255, 255, 255);
  cursor: pointer;
  background-image: url('/GitHub/Kamaleao/app/public/View/assets/img/botao.jpg');
  background-size: 100%;
  border: none;
  box-shadow: 6px 8px 15px -3px rgba(0,0,0,0.2);
  transform: 3.0s;
  transition: 0.3s;
}

.imagem-exemplo {
  width: 100%;
  max-width: 300px;
  height: 90%;
  border: 1px solid black;
  cursor: pointer;
}

.editar-excluir i#iconfecha {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 18pt;
  float: right;
  cursor: pointer;
  color: #363636;
  transition: .3s;
}

.editar-excluir i#iconfecha:hover {
  color: #F53446;
}

/* Modal de Edição de Anúncio */

.editar-bg {
  text-align: center;
  position: fixed;
  background: rgba(0, 0, 0, .5);
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 2000;
  display: none;
  justify-content: center;
  align-items: center;
  cursor: initial;
}

.editar-bg.mostrar {
  display: flex;
}

.editar i#iconfecha {
  position: absolute;
  top: 21%;
  right: 24%;
  font-size: 18pt;
  float: right;
  cursor: pointer;
  color: #363636;
  transition: .3s;
}

.editar-bg.modal {
  display: flex;
}

.editar {
  margin-top: 2rem;
  width: 60%;
  min-width: 300px;
  max-width: 780px;
  background-color: #fff;
  border-radius: 40px 5px 40px 5px;
  padding: 10px;
  justify-content: center;
  display: grid;

}

.info_perfil {
  border: 1px solid #ccc;
  border-radius: 30px;
  width: 70%;
  margin: 0 auto;
  vertical-align:center;
  display: grid;
  grid-template-columns: 25% 75%;
  transition: .4s;
  cursor: pointer;
}

.info_perfil:hover {
  width: 80%;
  box-shadow: 0 3px 10px rgba(0,0,0,.2);
}

.info_perfil:hover h3 {
  color: #F53446;
}

.info_perfil p {
  text-align: left;
  margin-left: 1rem;
}

.info_perfil h3 {
  margin: 1rem 0rem 1rem 1rem;
  transition: .4s;
}

.edit_icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; 
}

.info_perfil:hover i {
  color: rgba(245, 52, 70, 1);
  font-size: 22pt;
}
/* Modal editar-excluir conteúdo */
span#titSub {
  color: rgb(46, 46, 46);
  font-size: 16pt;
}

span#valSub {
  color: #F53446;
  font-size: 24pt;
}
span#liSub, span#catSub {
  color: #F53446;
  font-style: italic;
}

.fa-pen {
  font-size: 20pt;
  color: #363636;
  transition: .4s;
}

.editar h1 {
  margin-top: 1rem;
  color: #363636;
}

.editar .grid_anuncio p{
  margin-left: 1.5rem;
}

.editar .grid_anuncio {
  margin-left: 2.3rem
}

.editar .grid_anuncio {
  margin-left: 2.3rem
}
.bxs-pencil {
  margin-left: 0.5rem;
}

.editar .botao {
  border: 1px solid #363636;
  width: 90%;
  height: 3rem;
  max-width: 200px;
  background-color: transparent;
  border-radius: 15px;
  padding: 1px;
  cursor: pointer;
  font-size: 28px;
  color: #363636;
}

.editar .botao:hover {
  color: rgb(255, 255, 255);
  cursor: pointer;
  background-image: url("/GitHub/Kamaleao/app/public/View/assets/img/botao.jpg");
  background-size: 100%;
  transition: 0.3s;
  border: none;
  box-shadow: 6px 8px 15px -3px rgba(0,0,0,0.2);
}

.opcoes-alterar {
  border: 1px solid #ccc;
  border-radius: 30px;
  width: 70%;
  height: 15%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 25% 75%;
  transition: .4s;
  cursor: pointer;
  margin-top: 3%;
  color: #363636;
}

.opcoes-alterar h3 {
  padding: 12% 5% 0 0;
  width: 100%;
  height: 100%;
}

.opcoes-alterar:hover {
  width: 75%;
  box-shadow: 0 3px 10px rgba(0,0,0,.2);
  color: #414141;
}

.opc {
  display: block;
  margin: 0 auto;
  width: 60%;
  height: 100%;
  text-align: left;
  align-items: center;
}

.opc h3 {
  text-align: center;
  font-weight: 200;
}

.opc label, input[type="radio"] {
  display: inline-block;
  margin-top: 5%;
}

.opc label, input[type="radio"]:last-of-type {
  margin-bottom: 5%;
}

#alt-titulo input, #alt-preco input, .slct-css{
  width: 20rem;
  height: 2.5rem;
  font-size: 14px;
  border-radius: 15px;
  border: 1px solid #363636;
  margin-top:1rem;
  margin-bottom:1rem;
}

#alt-desci{
  resize: none;
  padding: 0.5rem;
  width: 20rem;
  height: 5rem;
  font-size: 18px;
  border-radius: 15px;
  border: 1px solid #363636;
  margin-top:1rem;
  margin-bottom:1rem;
}

#alt-licenca{
  width: 25rem;
}

  @media screen and (max-width: 800px) {

    /*main {
      
    }*/



    #bt1, #bt2, #bt3 {
      border-radius: 30px 30px 0 0;
      width: 100%;
      font-size: 70%;
      font-weight: 400;
      text-align: center;
    }

    #bt2 {
      margin-left: -.7rem;
    }

    #bt3 {
      margin-left: -1.5rem;
    }

    .form_anuncio{
      margin-top: 2rem;
      height: 60%;
    }

  }