.nav_filtro {
  display: none;
}

/* .container {
  position: relative;
  z-index: -1;
  margin: 0 auto;
  background-color: #fff;
  width: 100%;
  max-width: 85rem;
  height: 100vh;
  padding-top:160px;
} */

.perfil_icon {
    text-shadow: 0px 0px 8px rgba(0, 0, 0, 0.4);
    width: 60%;
    height: 225px;
    margin:auto;
    padding-bottom: 3rem;
    text-align: center;
    padding-top:  80px;
    font-family: 'Urbanist';
  }
  
  .icone_perf {
    color: #fff;
    font-size: 125px;
  }

  .icone_perf:hover {
    color: #fff;
  }

   .perfil_icon h1 {
     color: #fff;
     font-size: 40px;
     text-transform: lowercase;
  }

  .perfil_icon p {
    padding: 1rem 0rem 2rem 0rem;
    color: #fff;
    font-size: 20px;
    text-align: center;
  }
  
  main {
    margin-top: 5rem;
    z-index: inherit;
    margin-bottom: 4rem;
  }

  .tab {
    margin: auto;
    width: 80%;
    max-width: 85rem;
    display:grid;
    grid-template-columns: auto auto auto;
  }
  
  .tab div {
    display: inline-block;
    cursor: pointer;
    background-color: rgb(245, 245, 245);
    border-radius: 30px 30px 0px 0px;
  }
  
  /* Style the buttons inside the tab */
  .tab div button {
    background-color: inherit;
    color: black;
    padding: 22px 16px;
    width: 100%;
    height: 5rem;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 17px;
    text-transform: uppercase;
  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: #ddd;
  }
  
  /* Create an active/current "tab button" class */
  .tab button.active {
    background-color: #ccc;
  }
  .tab button:focus {
    background-color: #ccc;
  }
  
  .all {
    margin: 0 auto;
    padding-top: 1rem;
    background-color: #fff;
    width: 80%;
    max-width: 85rem;
    height: 120vh;
    border-radius: 0px 0px 30px 30px;
  }
  
  /* Style the tab content */
  .tabcontent {
    margin: 0 auto;
    padding-top: 1.5rem;
    width: 80%;
    border-left: none;
    height: 110vh;
    display: none;
  }

  
  /* Clear floats after the tab */
  .clearfix::after {
    content: "";
    clear: both;
    display: table;
  }

  #Sobre h1{
    padding: 5rem;
    font-family: 'Urbanist';
    font-size: 2rem;
  }
  
  #Sobre i{
    font-size: 1.5rem;
    margin-left: 2.5rem;
  }

  #bt1, #bt2, #bt3 {
    background-color: #f1f1f1;
    border-radius: 30px 30px 0px 0px;
  }

  #bt1:hover, #bt2:hover, #bt3:hover{
    background-color: #ccc;
  }

  #bt1:focus, #bt2:focus, #bt3:focus {
    background-color: #fff;
  }

  /* Conteúdo da pagina de serviços */
  
  .grid_home {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 25% 25% 25% 25%;
    background-color: #ffff;
    width: 100%;
    height: 100%;
}

.item {
	margin: 0 auto;
	background: #ffff;
  border-radius: 10px 10px 10px 10px;
  height: 90%;
  width: 13rem;
  border: 1px solid #ccc;
  cursor: pointer;
  transition: .5s;
  display: grid;
  grid-template-rows: 68% 12% 8% 12%;
}

.item:hover {
  box-shadow: 0 3px 10px rgba(0,0,0,.2);
  height: 95%;
  width: 15rem;
}

.item:hover h2 {
  color: #F53446;
}


.anuncio_img {
  width: 100%;
  height: 100%;
  border-radius: 10px 10px 0 0;
  background-color: powderblue;
}

.anuncio_text {
  padding: 0.5rem;
  width: 93%;
}

.text_flex {
  display: flex;
  justify-content: space-between;
  margin-top: 0.7rem;
}

.anuncio_titulo h1 {
  font-size: 12pt;
  color: #363636;
  margin: 0.5rem;
}

.anuncio_preço h2 {
  font-size: 12pt;
  color: #363636;
  transition: .4s;
  margin-right: 0.5rem;
  float: right;
}

.anuncio_user h3 {
  color: #808080;
  font-size: 10pt;
  margin: 0.2rem 0.5rem;
  
}

.opacidade {
  position: relative;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 10px 10px 0 0;
  transition: .5s;
  display: none;
  align-items: center;
}

.opacidade i {
  margin: 0 auto;
  font-size: 50pt;
  color: #ffff;
}

.item:hover .opacidade {
  display: flex;
}

#adicionar {
  margin: 0 auto;
  border-radius: 10px 10px 10px 10px;
  height: 90%;
  width: 13rem;
  border: 2px dashed #ccc;
  background-color: #fff;
  transition: .4s;
  cursor: pointer;
  display: flex;
  align-items: center;
}

#adicionar i {
  margin: 0 auto;
  font-size: 60pt;
  color: #363636;
  transition: .4s;
}

#adicionar:hover {
  background-color: rgb(233, 233, 233);
  height: 95%;
  width: 15rem;
}

#adicionar:hover i {
  font-size: 75pt;
}


  @media screen and (max-width: 800px) {
    
    .tab div {
      display:block;
    }

    .tab {
      display: block;
      background: none;
      text-align: center;
    }

    #bt1, #bt2, #bt3 {
      border-radius: 0;
      width: 10rem;
    }

    .tab div {
      border-radius: 0;
    }

  }