* {
    margin: 0;
    padding: 0;
    font-family: Arial;
    list-style: none;
}

body {
    background-image: url("/GitHub/Kamaleao/app/public/View/assets/img/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    overflow-x: hidden;
}

.form_solicitar {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    top: 20%;
    margin-top: 5rem;
}

form {
    text-align: center;
}

fieldset {
    padding: 2rem;
    border: 1px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    background-color: white;
    height: 47rem;
}

fieldset h1 {
    margin-top: 2rem;
}

.grid_solicitar p {
    font-size: 18px;
    margin-bottom: 1rem;
    margin-top: 2rem;
    margin-left: 0.5rem;
    text-align: left;
}

.grid_solicitar{
    display: grid;
    grid-template-columns: 23rem 23rem;
    margin-bottom: 1rem;
    margin-left: 1.5rem;
    padding-top: 1rem;
}

.imagem {
    border: 1px solid #363636;
    height: 15rem;
    width: 85%;
    border-radius: 15px;
    background-image: url("/GitHub/Kamaleao/app/public/View/assets/img/background2.jpg");
}

.desc {
    border: 1px solid #363636;
    height: 5rem;
    width: 85%;
    border-radius: 15px;
}

.desc p {
    font-size: 12pt;
    margin: 0.7rem;
}

#titulo {
    width: 20rem;
    height: 2.5rem;
    font-size: 18px;
    border-radius: 15px;
    border: 1px solid #363636;
    padding-left: 15px;
    margin-left: -30px;
}
#data_entrega {
    width: 20rem;
    height: 2.5rem;
    font-size: 18px;
    border-radius: 15px;
    border: 1px solid #363636;
    padding-left: 15px;
    margin-left: -30px;
}

textarea {
    resize: none;
    padding: 0.5rem;
    width: 20rem;
    height: 5rem;
    font-size: 18px;
    border-radius: 15px;
    border: 1px solid #363636;
    padding-left: 15px;
    margin-left: -30px;
}


form input[type=text]:focus{
    outline: 0;
    
}

form input[type=file] {
    display: none;
}

.right label{
    border: 1px solid #363636;
    padding: 0.3rem 1rem;
    cursor: pointer;
    border-radius: 5px;
    margin-left: -2.7rem;
}

select {
    width: 20rem;
    height: 2.5rem;
    font-size: 18px;
    border-radius: 15px;
    border: 1px solid #363636;
    padding-left: 15px;
    margin-left: -30px; 
}

/*botao*/

.form_solicitar .botao {
    border: 1px solid #363636;
    width: 90%;
    height: 3rem;
    max-width: 200px;
    background-color: transparent;
    border-radius: 15px;
    padding: 1px;
    cursor: pointer;
    font-size: 28px;
    color: #363636;
    font-family: 'Urbanist', sans-serif;
    margin-top: 2rem;
}

.botao:hover {
    color: rgb(255, 255, 255);
    cursor: pointer;
    background-image: url("/GitHub/Kamaleao/app/public/View/assets/img/botao.jpg");
    background-size: 100%;
    transition: 0.3s;
    border: none;
    box-shadow: 6px 8px 15px -3px rgba(0,0,0,0.2);
}



@media screen and (max-height: 800px) {
    fieldset {
        margin-top: -5rem;
    }
}
    

@media screen and (max-width: 850px) {
        
    .grid_cadastro {
        display: block;
    }

    fieldset {

        width: 100%;
        height: 120vh;
    }
}

@media screen and (max-width: 1400px) {
    fieldset {
        padding: 5px;
    }
}