* {
    font-family: 'Trebuchet MS', sans-serif;
  }

.container {
    padding-bottom: 5rem;
    height: fit-content;
}

.grid_home {
    display: grid;
    background-color: #ffff;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: auto;
    margin: 0 auto;
    height: 100%;
    width: 90%;
    padding-top: 0.5rem;
    row-gap: 2rem;
}

.titulo_home {
    margin: 2% 5% 2%;
    font-weight: 600;
    color: #363636;
}

.item {
	margin: 0 auto;
	background: #ffff;
    border-radius: 10px 10px 10px 10px;
    height: 13rem;
    width: 85%;
    border: 1px solid #ccc;
    cursor: pointer;
    transition: .6s;
    display: grid;
    grid-template-rows: 68% 12% 8% 12%;
}

.item:hover {
    box-shadow: 0 3px 10px rgba(0,0,0,.2);
}

.item:hover h2 {
    color: #F53446;
}

.anuncio_img {
    width: 100%;
    height: 100%;
    border-radius: 10px 10px 0 0;
    background-color: powderblue;
}

.anuncio_text {
    padding: 0.5rem;
    width: 93%;
}

.text_flex {
    display: flex;
    justify-content: space-between;
    margin-top: 0.7rem;
}

.anuncio_titulo {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: "ellipsis";
}

.anuncio_titulo h1 {
    font-size: 12pt;
    color: #363636;
    margin: 0.5rem;
    overflow: hidden;
}

.anuncio_titulo h3 {
    font-size: 10pt;
    color: #363636;
}

.anuncio_preço h2 {
    font-size: 12pt;
    color: #737373;
    transition: .4s;
    margin-right: 0.5rem;
    float: right;
}

.anuncio_user h3 a{
    color: #737373;
    font-size: 10pt;
    margin: 0.2rem 0.5rem;
    transition: .2s;
}

.anuncio_user h3 a:hover {
    color: #F53446;
}

.anuncio_preço h2 {
    color: #363636;
}

.loader {
    opacity: 0;
    display: flex;
    position: fixed;
    bottom: 50px;
    transition: opacity 0.3s ease-in;
}

.loader.mostrar {
    opacity: 1;
}

.circle {
    background-color: #000;
    width: 10%;
    height: 10%;
    border-radius: 50%;
    margin: 5px;
    animation: bounce 0.5s ease-in infinite;
}

.circle:nth-of-type(2) {
    animation-delay: .1s;
}

.circle:nth-of-type(3) {
    animation-delay: .2s;
}



@media screen and (max-width: 1030px) {



    .grid_home { 
        row-gap: 2rem;
        width: 85%;
        grid-template-columns: 33% 33% 33%;
    }
}

@media screen and (max-width: 800px) {

    .grid_home { 
        grid-template-columns: 50% 50%;
        width: 75%;
    }
}

@media screen and (max-width: 680px) {

    .grid_home { 
        grid-template-columns: 100%;
        width: 60%;
    }

    .item {
        height: 20rem;
    }
}