{% extends "base_home.html.twig" %}
{% block anuncio %}
{# document #}
   {# head #}
      {% block title %} Anúncio {% endblock title %}
      {% block hrefcss %}"/GitHub/Kamaleao/app/public/View/pós_login/style/anuncio.css"{% endblock hrefcss %}
   {# endhead #}
   {# body #}
      <!-- header da página definida em base_perfil -->
      {# nav-menu #}
         {# menu #}
         
         {# end menu #}
      
      {# end nav-menu #}  
      <!-- fim header -->
      <!-- filtro de pesquisa -->
      {# nav-filtro #}
      
      {# end nav-filtro #}
      <!-- fim filtro de pesquisa -->

      <!-- conteudo do container -->
      {% block div_container %}
      <div class="container">
         <div class="anuncio">
            <div class="desenho">
            </div>
            
            <div class="float">
               <h1>Título do Serviço</h1>
               <h2>Preço: R$50,00</h2>
               <h2>Licenças:</h2>
               <div class="lic">
                  <ul class="licencas">
                     <li class="li-coluna"><a href="#">Licença de uso Não-Comercial</a></li>
                     <li class="li-coluna"><a href="#">Licença de uso Comercial</a></li>
                     <li class="li-coluna"><a href="#">Licença de Download</a></li>
                  </ul>
               </div>
               <button type="submit">Solicitar Serviço</button>

               </div><!--float--> 
               
            </div><!--anuncio--> 
            
         

         <div class="info">
            <h1>Descrição do Serviço</h1>
               <div class="sobre">
               <p></p>
               </div>
            <h1>Outros Anúncios</h1>   
               <div class="anun">
               </div>
         </div>  <!--info-->   
      </div>
      {% endblock div_container %}

      
      <!-- fim conteudo do container -->   

      <!-- footer da página definida em base_home -->
      {# block div_footer #}
      {# end div_footer #}
      <!-- fim footer -->
   {# end body #}
{# end document #}
{% endblock anuncio %}
