{% extends "base_home.html.twig" %}
{% block config_perfil %}
{# document #}
   {# head #}
      {% block title %} Configuração de Perfil {% endblock title %}
      {% block hrefcss %}"/GitHub/Kamaleao/app/public/View/pós_login/style/config_perfil.css"{% endblock hrefcss %}
      {% block srcjs %}"/GitHub/Kamaleao/app/public/View/pós_login/js/config_perfil.js"{% endblock srcjs %}
   {# endhead #}
   {# body #}
      <!-- header da página definida em base_perfil -->


      <!-- conteudo da pagina -->
      {% block div_container %}
      <noscript>
        <meta http-equiv="refresh" content="0;url=/GitHub/Kamaleao/app/public/View/acesso_livre/index/index.html" />
      </noscript>
      <div id="md-pr" class="md-ct">
        <div class="md">

          <h3>Confirmação de senha</h3>
          <form id="confSenha" method="POST" action="">
            <p>Digite abaixo sua senha para fazer a confirmação.</p>
            <input type="password" id="senha" name="senha" />
            <button type="submit" class="button" name="submit" id="button">Validar </button>
            {% block erro %}
                <p hidden class="form-message">
                    <i class="fas fa-exclamation-triangle"></i>
                </p>
        {% endblock erro %}
          </form>
        </div>
      </div>
      <div class="container">
        <main>
          <h1> Altere suas informações pessoais!</h1>
          <p>Nome de usuário:</p>
          <input type="text" id="username" name="username" value={{Usuario}} />
          <p>Descrição:</p>
          <textarea id="desc" name="desc"> 
          {% if Descricao != "" %}
          {{Descricao}}
          {% endif %}
          </textarea>
        </main>
      </div>
      {% endblock div_container %}
{% endblock config_perfil %}