{% extends "base_home.html.twig" %}
{% block config_perfil %}
{# document #}
   {# head #}
      {% block title %} Configuração de Perfil {% endblock title %}
      {% block hrefcss %}"/GitHub/Kamaleao/app/public/View/pós_login/style/config_perfil.css"{% endblock hrefcss %}
      {% block srcjs %}"/GitHub/Kamaleao/app/public/View/pós_login/js/config_perfil.js"{% endblock srcjs %}
   {# endhead #}
   {# body #}
      <!-- header da página definida em base_perfil -->


      <!-- conteudo da pagina -->
      {% block div_container %}
      <noscript>
        <meta http-equiv="refresh" content="0;url=/GitHub/Kamaleao/app/public/View/acesso_livre/index/index.html" />
      </noscript>
      <div id="md-pr" class="md-ct">
        <div class="md">
          <h3>Confirmação de senha</h3>
          <form id="confSenha" method="POST" action="">
            <p>Digite abaixo sua senha para fazer a confirmação.</p>
            <input type="password" id="senha" name="senha" />
            {% block erro %}
              <p hidden id="resultfirst" class="form-message">
                  <i class="fas fa-exclamation-triangle"></i>
              </p>
            {% endblock erro %}
            <button type="submit" class="button" name="submit">Validar </button>
            
          </form>
        </div>
      </div>
      <div class="container">
      <h1> Informações pessoais:</h1>
        <main class="main-initial">
          <div class="info_icone">
            <div class="icone_perf"  onclick="abreModal('icone')">
            <i class='bx bxs-user-circle'>
              <div class="icone_edit">
                <i class="fas fa-pen"></i>
              </div>
            </div>
          </div>
          <div class="info_perfil" onclick="abreModal('username')">
            <div class="edit_icon">
                <i class="fas fa-pen"></i>
            </div> <!-- edit_icon -->
            <div class="edit_text">
              <h3>Nome de usuário</h3>
              <p id="atualUsername">@{{Usuario}}</p>
            </div> <!-- edit_text -->
          </div> <!-- info_perfil -->

          <div class="info_perfil" onclick="abreModal('desc')">
            <div class="edit_icon">
                <i class="fas fa-pen"></i> 
            </div>  <!-- edit_icon -->
            <div class="edit_text">
              <h3>Descrição</h3>
                {% if Descricao != null %}            
                <p id="atualDesc">{{Descricao}}</p>
                {% else %}
                <p id="atualDesc"> Você não possui uma descrição ainda!</p>
                {% endif %}
            </div> <!-- edit_text -->
          </div> <!-- info_perfil -->

          <div class="info_perfil" onclick="abreModal('email')">
            <div class="edit_icon">
                <i class="fas fa-pen"></i>
            </div> <!-- edit_icon -->
            <div class="edit_text">
              <h3>Email</h3>
              <p id="atualEm">{{Email}}</p>
            </div> <!-- edit_text -->
          </div> <!-- info_perfil -->

          <div class="info_perfil" onclick="abreModal('chavepix')">
            <div class="edit_icon">
                <i class="fas fa-pen"></i>
            </div> <!-- edit_icon -->
            <div class="edit_text">
              <h3>Chave pix</h3>
              {% if ChavePix != null %}
                <p id="atualCP">{{ChavePix}}</p>
              {% else %}
                <p id="atualCP"> Você não possui uma chave pix ainda!</p>
              {% endif %}
            </div> <!-- edit_text -->
          </div> <!-- info_perfil -->

          <div class="info_perfil" onclick="abreModal('senha')">
            <div class="edit_icon">
             <i class="fas fa-pen"></i>
            </div> <!-- edit_icon -->
            <div class="edit_text">
              <h3>Senha</h3>
              <p>***********</p>
            </div> <!-- edit_text -->
          </div> <!-- info_perfil -->
          <!--
          <button class="modal-button" onclick="abreModal('senha')">Alterar senha</button>
          -->
          <div id="md-pr2" class="md-ct-pos">
            <div id="username" class="md">
            <i class="fas fa-times-circle" onclick="fechaModal()"></i>
              <h3>Insira o novo nome de usuário</h3>
              <p>Seu nome de usuário não pode conter espaços e deve ser único.</p>
              <form id="trocaUsername" method="POST" action="">
                <input type="text" id="attUser" name="username" />
                <p hidden id="resultsec" class="form-message">
                  <i class="fas fa-exclamation-triangle"></i>
                </p>
                <button type="submit" class="button" name="submit">Editar</button>
              </form>
            </div>
            <div id="desc" class="md">
              <h3>Insira a nova descrição</h3>
              <p>A descrição é o lugar onde você fala um pouco sobre você, ele fica visível para todos!</p>
              <form id="trocaDesc" method="POST" action="">
                <textarea id="descricao" name="descricao" rows="5" maxlength="280"></textarea>
                <p hidden id="resultthird" class="form-message">
                  <i class="fas fa-exclamation-triangle"></i>
                </p>
                <button type="submit" class="button" name="submit">Editar</button>
              </form>
            </div>
            <div id="email" class="md">
              <h3>Insira o novo email</h3>
              <p>É por este email que nos comunicaremos com você.</p>
              <form id="trocaEmail" method="POST" action="">
                <input type="text" id="attEmail" name="email" />
                <p hidden id="resultfourth" class="form-message">
                  <i class="fas fa-exclamation-triangle"></i>
                </p>
                <button type="submit" class="button" name="submit">Editar</button>
              </form>
            </div>
            <div id="chavepix" class="md">
              <h3>Insira sua chave aleatória pix</h3>
              <p>Sua chave aleatória pix é inserida aqui para que você receba seus pagamentos.</p>
              <form id="trocaCPix" method="POST" action="">
                <input type="text" id="attCPix" name="chavepix" />
                <p hidden id="resultfifth" class="form-message">
                  <i class="fas fa-exclamation-triangle"></i>
                </p>
                <button type="submit" class="button" name="submit">Editar</button>
              </form>
            </div>
            <div id="senha" class="md">
              <h3>Insira sua senha!</h3>
              <form id="trocaSenha" method="POST" action="">
                <input type="password" id="attSenha" name="senha" placeholder="senha"/>
                <input type="password" id="confsenha" name="confsenha" placeholder="confirmar senha"/>
                <p hidden id="resultsixth" class="form-message">
                  <i class="fas fa-exclamation-triangle"></i>
                </p>
                <button type="submit" class="button" name="submit">Editar</button>
              </form>
            </div>
          </div>
        </main>
      </div>
      {% endblock div_container %}
{% endblock config_perfil %}