{% extends "base_home.html.twig" %}
{% block config_perfil %}
{# document #}
   {# head #}
      {% block title %} Configuração de Perfil {% endblock title %}
      {% block hrefcss %}"/GitHub/Kamaleao/app/public/View/pós_login/style/config_perfil.css"{% endblock hrefcss %}
      {% block srcjs %}"/GitHub/Kamaleao/app/public/View/pós_login/js/config_perfil.js"{% endblock srcjs %}
   {# endhead #}
   {# body #}
      <!-- header da página definida em base_perfil -->


      <!-- conteudo da pagina -->
      {% block div_container %}


          <div class="container">
          {# <form>
          <input type="text" class="input" placeholder="digite aqui seu aaa"/>
          <input type="text" class="input" placeholder="digite aqui seu email"/>
          <input type="text" class="input" placeholder="digite aqui seu email"/>
          <input type="text" class="input" placeholder="digite aqui seu email"/>
          <input type="text" class="input" placeholder="digite aqui seu email"/>
          <input type="text" class="input" placeholder="digite aqui seu email"/>
          <input type="text" class="input" placeholder="digite aqui seu email"/>
          <input type="text" class="input" placeholder="digite aqui seu email"/> 
          </form> #}
          <button id="modal-btn" class="button">Editar</button>

          <div id="md-pr" class="md-ct">
            <div class="md">
              <h3>Confirmação de senha</h3>
              <form method="POST" action="/GitHub/Kamaleao/app/private/Controller/controllerVerificaSenha.php">
                <p>Digite abaixo sua senha para fazer a confirmação.</p>
                <input type="password" id="senha" name="senha" />
                <input type="button" class="button" value="Validar"/>
                {% block erro %}
                {% if erro is defined %}  
                    <p class="form-message">
                        <i class="fas fa-exclamation-triangle"></i>
                        {{ erro }}
                    </p>
                {% endif %}
            {% endblock erro %}
              </form>
            </div>
          </div>
 
          </div> <!--container-->

            <div id="modal1" class="modal-container">
            <div class="modal1">
              <button class="close">x</button>
              <h3>troca suas informacao ai seu merda</h3>
              <form>
              <p>ai embaixo so troca porra</p>
              <input type="text" class="input" placeholder="digite aqui seu email"/>
              <input type="text" class="input" placeholder="digite aqui sua senha"/>
              <input type="text" class="input" placeholder="digite aqui qualquer coisa"/>
              <input type="button" class="button" value="salvar"/>
              </form> 
            </div> <!--modal-->
          </div>
      {% endblock div_container %}
{% endblock config_perfil %}