{% extends "base_home.html.twig" %}
{% block config_perfil %}
{# document #}
   {# head #}
      {% block title %} Configuração de Perfil {% endblock title %}
      {% block hrefcss %}"/GitHub/Kamaleao/app/public/View/pós_login/style/config_perfil.css"{% endblock hrefcss %}
      {% block srcjs %}"/GitHub/Kamaleao/app/public/View/pós_login/js/config_perfil.js"{% endblock srcjs %}
   {# endhead #}
   {# body #}
      <!-- header da página definida em base_perfil -->


      <!-- conteudo da pagina -->
      {% block div_container %}
      <noscript>
        <meta http-equiv="refresh" content="0;url=/GitHub/Kamaleao/app/public/View/acesso_livre/index/index.html" />
      </noscript>
      <div id="md-pr" class="md-ct">
        <div class="md">
          <h3>Confirmação de senha</h3>
          <form id="confSenha" method="POST" action="">
            <p>Digite abaixo sua senha para fazer a confirmação.</p>
            <input type="password" id="senha" name="senha" />
            <button type="submit" class="button" name="submit">Validar </button>
            {% block erro %}
                <p hidden class="form-message">
                    <i class="fas fa-exclamation-triangle"></i>
                </p>
            {% endblock erro %}
          </form>
        </div>
      </div>
      <div class="container">
        <main class="main-initial">
          <h1> Informações pessoais:</h1>
          <a class="icone_perf"><i class='bx bxs-user-circle'></i></a>
          <a class="cliqueperf" onclick="abreModal('username')"><h3>Nome de usuário<i class="fas fa-pen"></i></h3></a>
          <p>@{{Usuario}}</p>
          <a class="cliqueperf" onclick="abreModal('desc')"><h3>Descrição<i class="fas fa-pen"></i></h3></h3></a>
          {% if Descricao != null %}            
          <p>{{Descricao}}</p>
          {% else %}
          <p> Você não possui uma descrição ainda!</p>
          {% endif %}
          <a class="cliqueperf" onclick="abreModal('email')"><h3>Email<i class="fas fa-pen"></i></h3></h3></a>
          <p>{{Email}}</p>
          <a class="cliqueperf" onclick="abreModal('chavepix')"><h3>Chave pix<i class="fas fa-pen"></i></h3></h3></a>
          {% if ChavePix != null %}
          <p>{{ChavePix}}</p>
          {% else %}
          <p> Você não possui uma chave pix ainda!</p>
          {% endif %}
          <button class="modal-button" onclick="abreModal('senha')">Alterar senha</button>
          <div id="md-pr2" class="md-ct-pos">
            <i class="fas fa-times-circle" onclick="fechaModal()"></i>
            <div id="username" class="md">
              <h3>Insira o novo nome de usuário</h3>
              <p>Seu nome de usuário não pode conter espaços e deve ser único.</p>
              <input type="text" id="username" name="username" />
              <button type="submit" class="button" name="submit">Editar</button>
            </div>
            <div id="desc" class="md">
              <h3>Insira a nova descrição</h3>
              <p>A descrição é o lugar onde você fala um pouco sobre você, ele fica visível para todos!</p>
              <textarea id="descricao" name="descricao" rows="5" maxlength="280"></textarea>
              <button type="submit" class="button" name="submit">Editar</button>
            </div>
            <div id="email" class="md">
              <h3>Insira o novo email</h3>
              <p>E por este email que nos comunicaremos com você.</p>
              <input type="text" id="email" name="email" />
              <button type="submit" class="button" name="submit">Editar</button>
            </div>
            <div id="chavepix" class="md">
              <h3>Insira sua chave aleatória pix</h3>
              <p>Sua chave aleatória pix é inserida aqui para que você receba seus pagamentos.</p>
              <input type="text" id="chavepix" name="chavepix" />
              <button type="submit" class="button" name="submit">Editar</button>
            </div>
            <div id="senha" class="md">
              <h3>Insira sua senha!</h3>
              <input type="text" id="senha" name="senha" placeholder="senha"/>
              <input type="text" id="confsenha" name="confsenha" placeholder="confirmar senha"/>
              <button type="submit" class="button" name="submit">Editar</button>
            </div>
          </div>
        </main>
      </div>
      {% endblock div_container %}
{% endblock config_perfil %}