{% extends "base_home.html.twig" %}
{% block config_perfil %}
{# document #}
   {# head #}
      {% block title %} Configuração de Perfil {% endblock title %}
      {% block hrefcss %}"/GitHub/Kamaleao/app/public/View/pós_login/style/config_perfil.css"{% endblock hrefcss %}
      {% block srcjs %}"/GitHub/Kamaleao/app/public/View/pós_login/js/config_perfil.js"{% endblock srcjs %}
   {# endhead #}
   {# body #}
      <!-- header da página definida em base_perfil -->


      <!-- conteudo da pagina -->
      {% block div_container %}
      <noscript>
        <meta http-equiv="refresh" content="0;url=/GitHub/Kamaleao/app/public/View/acesso_livre/index/index.html" />
      </noscript>
      <div id="md-pr" class="md-ct">
        <div class="md">
          <h3>Confirmação de senha</h3>
          <form id="confSenha" method="POST" action="">
            <p>Digite abaixo sua senha para fazer a confirmação.</p>
            <input type="password" id="senha" name="senha" />
            <button type="submit" class="button" name="submit" id="button">Validar </button>
            {% block erro %}
                <p hidden class="form-message">
                    <i class="fas fa-exclamation-triangle"></i>
                </p>
        {% endblock erro %}
          </form>
        </div>
      </div>
      <div class="container">
        <main class="main-initial">
          <h1> Informações pessoais!</h1>
          <h3>Nome de usuário:</h3>
          <p>@{{Usuario}}</p>
          <h3>Descrição:</h3>
          {% if Descricao != null %}
          <p>{{Descricao}}</p>
          {% else %}
          <p> Você não possui uma descrição ainda!</p>
          {% endif %}
          <h3>Email:</h3>
          <p>{{Email}}</p>
          <h3>Chave pix:</h3>
          {% if ChavePix != null %}
          <p>{{ChavePix}}</p>
          {% else %}
          <p> Você não possui uma chave pix ainda!</p>
          {% endif %}
          <button class="button">Alterar</button>
        </main>
      </div>
      {% endblock div_container %}
{% endblock config_perfil %}