{% extends "base.html.twig" %}
{% block def %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    {% block title %}Anunciar{% endblock %}
    {% block hrefcss %}"/GitHub/Kamaleao/app/public/View/pós_login/style/criar_anuncio.css"{% endblock hrefcss %}
</head>
{% endblock def %}
{% block body %}
<body>
    {% block form_name %}"form_anuncio"{% endblock form_name %}
        {% block action_path %}{% endblock action_path %}
            {% block conteudo %}
                <h1>Anunciar um Serviço</h1>
                <div class ="grid_anuncio">
                    <div class="left">
                        <p>Título do anúncio</p>
                        <input type="text" id="titulo" name="titulo" maxlength="50" placeholder="Título para o seu anúncio"/>
                        <p>Descrição do serviço</p>
                        <textarea id="descricao" name="descricao" rows="5" maxlength="280" placeholder="Descreva detalhadamente o serviço que será oferecido..."></textarea>
                        <p>Escolha uma imagem para o Anúncio:</p>
                            <label for="imagem">Escolher arquivo</label>
                            <input type="file" id="imagem" name="imagem" accept="image/png, image/jpeg"></br></br>
                            <span id="file-name"></span>                        
                        
                    </div>
                    <div clas="rigth">
                        <p>Preço médio</p>
                        <input type="number" min="0" max="10000" id="preco" name="preco" placeholder="Preço médio para o serviço"/>
                        <p>Tipos de Licenças</p> 
                        <div class="check"><!-- checkbox para as licencas -->
                            <input type="checkbox" id="licenca1" name="licenca1" value="1">
                            <label for="licenca1">Licença de uso Não-Comercial</label><br>
                            <input type="checkbox" id="licenca2" name="licenca2" value="2">
                            <label for="licenca2">Licença de uso Comercial</label><br>
                            <input type="checkbox" id="licenca3" name="licenca3" value="3">
                            <label for="licenca3">Licença de Download</label><br>
                        </div>
                    </div>                              
                </div>
                
                <input type="submit" class="botao" name="acao" value="Anunciar" /> <br>
            {% endblock conteudo %}
</body>
</html>
{% endblock body %}