{% extends "base_home.html.twig" %}
{% block perfil %}
{# document #}
   {# head #}
      {% block title %} Home {% endblock title %}
      {% block hrefcss %}{% endblock hrefcss %}
   {# endhead #}
   {# body #}
      <!-- header da página definida em base_perfil -->
      {# nav-menu #}
         {# menu #}
         
         {# end menu #}
      
      {# end nav-menu #}  
      <!-- fim header -->
      <!-- filtro de pesquisa -->
      {# nav-filtro #}
      
      {# end nav-filtro #}
      <!-- fim filtro de pesquisa -->

      <!-- conteudo de perfil -->
      {% block div_container %}
      <div class="container">
      
      </div>
      {% endblock div_container %}
      <!-- fim conteudo de perfil -->   

      <!-- footer da página definida em base_perfil -->
      {# block div_footer #}
      {# end div_footer #}
      <!-- fim footer -->
   {# end body #}
{# end document #}
{% endblock perfil %}
