{% extends "base_home.html.twig" %}
{% block home %}
{# document #}
   {# head #}
      {% block title %} Home {% endblock title %}
      {% block hrefcss %}"/GitHub/Kamaleao/app/public/View/pós_login/style/home.css"{% endblock hrefcss %}

   {# endhead #}
   {# body #}
      <!-- header da página definida em base_perfil -->
      <!-- conteudo da home -->
      {% block div_container %}
      <div class="container">
         <h2 class="titulo_home">Anúncios criados recentemente</h3>
         <section class="grid_home">
            <div class="item">
               <div class="anuncio_img">
               </div>
               <div class="anuncio_titulo">
                  <h1>Título do anúncio muito grandao </h1></br> 
               </div> <!--anuncio_titulo-->
               <div class="anuncio_user">
                  <h3>@Artista</h3>
               </div>
               <div class="anuncio_preço">
                  <h2>R$50.000</h2>
               </div> <!-- preço -->
            </div> <!--item-->
            <div class="item">
               <div class="anuncio_img">
               </div>
               <div class="anuncio_titulo">
                  <h1>Título do anúncio</h1></br> 
               </div> <!--anuncio_titulo-->
               <div class="anuncio_user">
                  <h3>@Artista</h3>
               </div>
               <div class="anuncio_preço">
                  <h2>R$50.000</h2>
               </div> <!-- preço -->
            </div> <!--item-->
            <div class="item">
               <div class="anuncio_img">
               </div>
               <div class="anuncio_titulo">
                  <h1>Título do anúncio</h1></br> 
               </div> <!--anuncio_titulo-->
               <div class="anuncio_user">
                  <h3>@Artista</h3>
               </div>
               <div class="anuncio_preço">
                  <h2>R$50.000</h2>
               </div> <!-- preço -->
            </div> <!--item-->
            <div class="item">
               <div class="anuncio_img">
               </div>
               <div class="anuncio_titulo">
                  <h1>Título do anúncio</h1></br> 
               </div> <!--anuncio_titulo-->
               <div class="anuncio_user">
                  <h3>@Artista</h3>
               </div>
               <div class="anuncio_preço">
                  <h2>R$50.000</h2>
               </div> <!-- preço -->
            </div> <!--item-->
            <div class="item">
               <div class="anuncio_img">
               </div>
               <div class="anuncio_titulo">
                  <h1>Título do anúncio</h1></br> 
               </div> <!--anuncio_titulo-->
               <div class="anuncio_user">
                  <h3>@Artista</h3>
               </div>
               <div class="anuncio_preço">
                  <h2>R$50.000</h2>
               </div> <!-- preço -->
            </div> <!--item-->
            <div class="item">
               <div class="anuncio_img">
               </div>
               <div class="anuncio_titulo">
                  <h1>Título do anúncio</h1></br> 
               </div> <!--anuncio_titulo-->
               <div class="anuncio_user">
                  <h3>@Artista</h3>
               </div>
               <div class="anuncio_preço">
                  <h2>R$50.000</h2>
               </div> <!-- preço -->
            </div> <!--item-->
            <div class="item">
               <div class="anuncio_img">
               </div>
               <div class="anuncio_titulo">
                  <h1>Título do anúncio</h1></br> 
               </div> <!--anuncio_titulo-->
               <div class="anuncio_user">
                  <h3>@Artista</h3>
               </div>
               <div class="anuncio_preço">
                  <h2>R$50.000</h2>
               </div> <!-- preço -->
            </div> <!--item-->
            <div class="item">
               <div class="anuncio_img">
               </div>
               <div class="anuncio_titulo">
                  <h1>Título do anúncio</h1></br> 
               </div> <!--anuncio_titulo-->
               <div class="anuncio_user">
                  <h3>@Artista</h3>
               </div>
               <div class="anuncio_preço">
                  <h2>R$50.000</h2>
               </div> <!-- preço -->
            </div> <!--item-->
            <div class="item">
               <div class="anuncio_img">
               </div>
               <div class="anuncio_titulo">
                  <h1>Título do anúncio</h1></br> 
               </div> <!--anuncio_titulo-->
               <div class="anuncio_user">
                  <h3>@Artista</h3>
               </div>
               <div class="anuncio_preço">
                  <h2>R$50.000</h2>
               </div> <!-- preço -->
            </div> <!--item-->
            <div class="item">
               <div class="anuncio_img">
               </div>
               <div class="anuncio_titulo">
                  <h1>Título do anúncio</h1></br> 
               </div> <!--anuncio_titulo-->
               <div class="anuncio_user">
                  <h3>@Artista</h3>
               </div>
               <div class="anuncio_preço">
                  <h2>R$50.000</h2>
               </div> <!-- preço -->
            </div> <!--item-->
            <div class="item">
               <div class="anuncio_img">
               </div>
               <div class="anuncio_titulo">
                  <h1>Título do anúncio</h1></br> 
               </div> <!--anuncio_titulo-->
               <div class="anuncio_user">
                  <h3>@Artista</h3>
               </div>
               <div class="anuncio_preço">
                  <h2>R$50.000</h2>
               </div> <!-- preço -->
            </div> <!--item-->
            <div class="item">
               <div class="anuncio_img">
               </div>
               <div class="anuncio_titulo">
                  <h1>Título do anúncio</h1></br> 
               </div> <!--anuncio_titulo-->
               <div class="anuncio_user">
                  <h3>@Artista</h3>
               </div>
               <div class="anuncio_preço">
                  <h2>R$50.000</h2>
               </div> <!-- preço -->
            </div> <!--item-->
            <div class="item">
               <div class="anuncio_img">
               </div>
               <div class="anuncio_titulo">
                  <h1>Título do anúncio</h1></br> 
               </div> <!--anuncio_titulo-->
               <div class="anuncio_user">
                  <h3>@Artista</h3>
               </div>
               <div class="anuncio_preço">
                  <h2>R$50.000</h2>
               </div> <!-- preço -->
            </div> <!--item-->
            <div class="item">
               <div class="anuncio_img">
               </div>
               <div class="anuncio_titulo">
                  <h1>Título do anúncio</h1></br> 
               </div> <!--anuncio_titulo-->
               <div class="anuncio_user">
                  <h3>@Artista</h3>
               </div>
               <div class="anuncio_preço">
                  <h2>R$50.000</h2>
               </div> <!-- preço -->
            </div> <!--item-->
            <div class="item">
               <div class="anuncio_img">
               </div>
               <div class="anuncio_titulo">
                  <h1>Título do anúncio</h1></br> 
               </div> <!--anuncio_titulo-->
               <div class="anuncio_user">
                  <h3>@Artista</h3>
               </div>
               <div class="anuncio_preço">
                  <h2>R$50.000</h2>
               </div> <!-- preço -->
            </div> <!--item-->
            <div class="item">
               <div class="anuncio_img">
               </div>
               <div class="anuncio_titulo">
                  <h1>Título do anúncio</h1></br> 
               </div> <!--anuncio_titulo-->
               <div class="anuncio_user">
                  <h3>@Artista</h3>
               </div>
               <div class="anuncio_preço">
                  <h2>R$50.000</h2>
               </div> <!-- preço -->
            </div> <!--item-->
         </section> <!--grid_home-->
      </div> <!--container-->
      {% endblock div_container %}
      <!-- fim conteudo-->   

   {# end body #}
{# end document #}
{% endblock home %}
