{% extends "base_home.html.twig" %}
{% block perfil %}
{# document #}
   {# head #}
      {% block title %} Perfil {% endblock title %}
      {% block hrefcss %}"/GitHub/Kamaleao/app/public/View/p칩s_login/style/perfil.css"{% endblock hrefcss %}
      <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
   {# endhead #}
   {# body #}
      <!-- header da p치gina definida em base_perfil -->
      {# nav-menu #}
         {# menu #}
         
         {# end menu #}
      
      {# end nav-menu #}  
      <!-- fim header -->
      <!-- filtro de pesquisa -->
      {# nav-filtro #}
      
      {# end nav-filtro #}
      <!-- fim filtro de pesquisa -->

      <!-- conteudo de perfil -->
      {% block perfil_icon %}

      <div class="perfil_icon">
         <a href="#" class="icone_perf"><i class='bx bxs-user-circle'></i></a>
         <h1> @{{Usuario}} </h1>
      </div>

      {% endblock perfil_icon %}


      {% block div_container %}
      
         <nav class="listinha">
            <div class="portfolio"><a href="Github/Kamelao/app/public/View/assets/templates/conteudo/inventario.html">inventario</a></div>
            <div class="sobre"><a href="Github/Kamelao/app/public/View/assets/templates/conteudo/sobre.html">sobre</a></div>
            <div class="anuncio"><a href="Github/Kamelao/app/public/View/assets/templates/conteudo/anuncios.html">anuncios</a></div>
            <div class="comissoes"><a href="Github/Kamelao/app/public/View/assets/templates/conteudo/comissoes.html">comissoes</a></div>
         </nav>

         <div class="conteudo" id="conteudo">
            <div class="dentro">
            </div> <!--dentro-->
         </div> <!--conteudo-->

      
      {% endblock div_container %}
      <!-- fim conteudo de perfil -->   

      <!-- footer da p치gina definida em base_perfil -->
      {# block div_footer #}
      {# end div_footer #}
      <!-- fim footer -->
      
      <script src="Github/Kamelao/app/public/View/p칩s_login/js/function.js"></script>
   {# end body #}
{# end document #}
{% endblock perfil %}
