{% extends "base_home.html.twig" %}
{% block termos %}
{# document #}
   {# head #}
      {% block title %} Termos de Serviço {% endblock title %}
      {% block hrefcss %}"/GitHub/Kamaleao/app/public/View/pós_login/style/termos.css"{% endblock hrefcss %}
   {# endhead #}
   {# body #}
      <!-- header da página definida em base_perfil -->
      <!-- conteudo da pagina -->
      {% block div_container %}
      <div class="container">
        <div class="term">
            <h1>Termos de Serviço</h1>
            <p>O Kamaleão permite que pessoas de todo o Brasil criem, compartilhem, ofereçam seus trabalhos, demonstrem seus talentos, comprem quase todo tipo de serviço que precisam a um preço imbatível. Os serviços oferecidos pelo Kamaleão refletem a diversidade de uma economia de Serviços em expansão. Os membros da comunidade Kamaleão se comunicam e interagem por meio de pedidos, mídias sociais e fóruns da comunidade Kamaleão.</p>
            <p>O Kamaleão cultiva um ambiente favorável, profissional e com espírito comunitário. Os usuários devem promover esse espírito quando participarem de atividades ou negociações do Kamaleão.</p>
            <p>Seja bem-vindo ao Kamaleão agradecemos o seu tempo para ler os Termos de Serviço do Kamaleão. As informações aqui descritas o ajudarão a operar na nossa plataforma e dirimir possíveis dúvidas sobre a nossa política de serviços, faz-se necessário que ser leia e compreenda os Termos de Serviço e condições gerais de uso do site.</p>
            <p>O Kamaleão é uma plataforma de intermediação de serviços prestados por seus usuários.
            Os seguintes termos e condições (os “Termos de Serviço“) regem o acesso e utilização do site Kamaleão, incluindo qualquer conteúdo, funcionalidade e serviços oferecidos no ou através do site Kamaleão, por  Ekko LTDA.</p>
            <p>Leia os Termos de Serviço antes de começar a utilizar o Site. Ao utilizar o Site, abrir uma conta ou clicar para aceitar ou concordar com os Termos de Serviço, quando essa opção estiver disponível, você aceitará e concordará em se comprometer e respeitar os nossos Termos de Serviço e Política de Privacidade, encontrados aqui, incorporados neste documento para fins de referência. Se você não concordar com os Termos de Serviço ou a Política de Privacidade, não acesse ou utilize o Site.</p>
            <h2>Termos Gerais:</h2>
            <p>1.	O Kamaleão não é fornecedor de quaisquer produtos ou serviços anunciados no site. O Kamaleão presta um serviço consistente na oferta de uma plataforma na internet que fornece espaços para que vendedores ofereçam seus produtos ou serviços, e compradores possam adquirir esses produtos ou serviços.</p>
            <p>2.	Para utilizar os serviços do Kamaleão o Usuário deve aceitar, expressamente, a Política de Privacidade, que contém informações claras e completas sobre coleta, uso, armazenamento, tratamento e proteção dos dados pessoais dos Usuários e visitantes do Kamaleão.</p>
            <p>3.	O Kamaleão, em razão de violação à legislação em vigor ou aos Termos e condições gerais de uso do Kamaleão, conforme a situação, poderá, sem prejuízo de outras medidas, recusar qualquer solicitação de cadastro, advertir, suspender, temporária ou definitivamente, a conta de um Usuário, seus anúncios ou aplicar uma sanção que impacte negativamente sua reputação.</p>
            <p>4.	Não é permitido anunciar serviços proibidos pela legislação vigente ou pelos Termos e condições gerais de uso do site, que não possuam a devida autorização específica de órgãos reguladores competentes, ou que violem direitos de terceiros.</p>
            <p>5.	Somente usuários cadastrados poderão comprar e vender no Kamaleão. O cadastro é oferecido de forma gratuita.</p>
            <p>6.	O Kamaleão disponibiliza um sistema para que os Compradores qualifiquem os serviços adquiridos.</p>
            <p>7.	O potencial comprador, antes de decidir pela compra do serviço, deverá atentar-se às informações sobre as qualificações do vendedor, ao preço, ao prazo de entrega, a serviços adicionais e a descrição detalhada do serviço ofertado.</p>
            <p>8.	OS USUÁRIOS (compradores e vendedores) NÃO PODEM OFERECER OU ACEITAR MEIOS DE PAGAMENTOS DIFERENTES DA REALIZAÇÃO DE PEDIDOS DO KAMALEÃO.</p>
            <p>9.	OS USUÁRIOS (compradores e vendedores) NÃO PODERÃO TROCAR E-MAIL, ENDEREÇOS, TELEFONES, NOME E CONTATOS NO FACEBOOK WHATSAPP, SKYPE OU QUALQUER OUTRA FORMA DE COMUNICAÇÃO FORA DA PLATAFORMA DO KAMALEÃO.</p>
            <p>10.	Sobre as Taxas e pagamentos,  o valor será de 10% do valor do serviço.</p>
            <p>11.	Os compradores detêm todos os direitos sobre o trabalho entregue, salvo indicação em contrário por parte do vendedor em sua página do Serviço. Alguns Serviços cobram pagamentos adicionais (por meio de Serviço Extras) para Licença para Uso Comercial, caso ocorra essa cobrança deverá ser claramente discriminada pelo vendedor na descrição do serviço.</p>
            <p>12.	Todo trabalho publicado e entregue poderá ser utilizado pelo Kamaleão para fins de marketing, promoção ou divulgação do Kamaleão.</p>
            <p>13.	O Site é oferecido e está disponível para usuários com 16 anos de idade ou mais. Menores de 16 anos não poderão usar o Site ou os serviços do Kamaleão. Ao utilizar o Site, você declara e garante que tem idade legal para firmar um contrato vinculante com a Empresa e que atende a todos os requisitos de elegibilidade mencionados acima. Se você não atender a todos esses requisitos, não acesse ou utilize o Site.
            <p>14.	O Kamaleão poderá alterar, a qualquer tempo, estes Termos de Serviços, visando seu aprimoramento e melhoria dos serviços prestados. Os novos Termos de Serviços entrarão em vigor 10 (dez) dias após sua publicação nos Sites. No prazo de 5 (cinco) dias contados a partir da publicação da nova versão, o Usuário deverá comunicar-se por e-mail caso não concorde com os termos alterados. Nesse caso, o vínculo contratual deixará de existir, desde que não haja contas ou dívidas em aberto. Não havendo manifestação no prazo estipulado, entender-se-á que o Usuário aceitou os novos Termos e condições gerais de uso e o contrato continuará vinculando as partes.
            <p>15.	As alterações não vigorarão em relação às negociações e anúncios já iniciados antes de sua publicação, permanecendo, nestes casos, vigente a redação anterior.
            <h2>Vendedores</h2>
            <p>O vendedor deverá ter a capacidade para prestar o serviço anunciado.</p>
            <p>A cada serviço concluído com sucesso será creditado uma receita líquida de 90%.</p>
            <p>O vendedor obriga-se a manter contado com o comprador unicamente através da plataforma do Kamaleão.</p>
            <p>O Vendedor deverá cumprir a legislação brasileira vigente.</p>
            <p>Em virtude de o Kamaleão não figurar como parte nas negociações de venda de serviços que ser realizam entre os usuários, a responsabilidade por todas as obrigações decorrente, sejam fiscais, trabalhistas, consumeristas ou de qualquer outra natureza, será exclusivamente do Vendedor.</p>
            <p>O Kamaleão não se responsabiliza pelas obrigações de natureza tributária sobre os negócios realizados entre Usuários compradores e Usuários vendedores.</p>
            <p>Os saques feitos da sua conta podem ser negados após a análise de nossa equipe Financeira. Isso pode acontecer por questões de segurança que visam prevenir transações fraudulentas, relatos de baixo desempenho ou violações dos Termos de Serviço, desde compradores até nossa equipe de suporte ao cliente ou outro perfil Kamaleão que esteja associado aos mesmos fornecedores de saque. A habilitação de saques será analisada por nossa equipe de Financeira após a revisão de sua conta.</p>
            <p>O Kamaleão credita os vendedores quando um pedido é dado como concluído. </p>
            <p>Se um pedido for cancelado (por qualquer motivo), os fundos pagos serão reembolsados como crédito na plataforma ao comprador.</p>
            <p>A qualificação do vendedor é calculada com base nas opiniões publicadas pelos compradores. Qualificações altas permitem que os vendedores obtenham níveis de venda avançados .</p>
            <h2>Serviços</h2>
            <p>Os Serviços criados no Kamaleão são Conteúdo Gerado pelo Usuário.</p>
            <p>Os Serviços poderão ser bloqueados ou removidos do Kamaleão por conta de violações dos Termos de Serviço, podendo incluir, entre outros, as seguintes violações e/ou materiais:</p>
                <div class="lista">
                    <p>•	Serviços ilegais ou fraudulentos.</p>
                    <p>•	Serviços que violem de direitos autorais.</p>
                    <p>•	Serviços que violem marcas registradas.</p>
                    <p>•	Serviços que incitem a violência ou a intolerância racial, religiosa ou de gênero.</p>
                    <p>•	Violação de propriedade intelectual.</p>
                    <p>•	Serviços pornográficos.</p>
                    <p>•	Cópias intencionais de Serviços.</p>
                    <p>•	Spam e Serviços absurdos ou violentos.</p>
                    <p>•	Serviços enganosos para os compradores, incluindo violações dos termos de serviço de terceiros.</p>
                    <p>•	Revenda de bens regulamentados.</p>
                </div>
            <p>Os Serviços removidos pelas violações acima poderão acarretar a exclusão da conta do vendedor.</p>
            <p>Os Serviços removidos por violações não poderão ser restaurados ou reeditados.
            <p>Os Serviços poderão ser excluídos da nossa ferramenta de pesquisa por conta de baixo desempenho e/ou má conduta do usuário.</p>
            <p>AS URLs no texto do seu Serviço que redirecionarem a sites de terceiros estarão sujeitas a aprovação e poderão ser consideradas inapropriadas para usar no Kamaleão.</p>
            <p>Os Serviços devem ter uma imagem de Serviço adequada relacionada ao serviço oferecido. A opção de carregar duas imagens de Serviço adicionais está disponível para todos os vendedores.
            <p>Os Serviços podem conter um vídeo de Serviço aprovado carregado por meio das ferramentas de gerenciamento do Serviço disponíveis no Kamaleão.</p>
            <p>As declarações na Página do Serviço que comprometem ou burlam esses Termos de serviço são proibidas.</p>
            


            
            <h2>Compradores</h2>
            <p>Não é permitido oferecer aos vendedores outro método de pagamento que não seja através da plataforma do Kamaleão.</p>
            <p>Os compradores poderão solicitar um serviço específico usando o recurso Solicitar um Serviço, que se encontra no painel e em outros lugares no site. Os serviços solicitados no Kamaleão devem estar de acordo com a política adotada pelo Kamaleão.</p>
            <p>O Kamaleão detém todo o direito de utilização dos trabalhos entregues ou publicados para fins de marketing, promoção ou divulgação do Kamaleão.</p>
            <h2>Compras</h2>
            <p>Os compradores podem solicitar um Pedido Personalizado que aborde necessidades mais específicas do comprador e receber uma Oferta Personalizada dos vendedores por meio da plataforma do Kamaleão.</p>
            <p>Os Serviços podem ser adquiridos usando os meios de pagamento que o Mercado Pago disponibiliza.</p>
            <p>Não é permitido oferecer aos vendedores fazer pagamentos usando qualquer método que não seja através da plataforma Kamaleão.com. Caso tenha sido solicitado a usar um método de pagamento alternativo, denuncie imediatamente ao suporte ao cliente.</p>
            <p>As taxas de processamento são adicionadas no momento da compra, no qual o comprador pode revisar e aceitar a quantia total a ser paga. Essas taxas cobrem as taxas de processamento e administração. As taxas atuais avaliadas no valor total da compra são de 10. Os fundos devolvidos ao seu saldo a partir de pedidos cancelados não incluirão as taxas de processamento pagas.</p>
            <p>Se o usuário tiver fundos em sua conta, sejam eles do saldo de compra ou de receita disponível, eles serão aplicados automaticamente à sua próxima compra, mas somente se o saldo cobrir o valor total da compra.</p>
            <p>Para proteção contra fraudes, transações não autorizadas (como lavagem de dinheiro), reivindicações ou outras obrigações, nós não coletamos informações de crédito, mas permitimos que os nossos fornecedores de pagamento coletem informações para fins de cobrança dos compradores no Site ou transferência de pagamentos aos vendedores no Site. Nós não temos acesso às informações de pagamento fornecidas aos nossos fornecedores de pagamento e essas informações estão sujeitas à política de privacidade aplicável ao fornecedor de pagamento. </p>
            
            <h2>Pedidos</h2>
            <p>Após a confirmação de pagamento será criado um número de pedido único e individual.</p>
            <p>Os vendedores devem entregar os arquivos e/ou provas de trabalho concluídos usando o botão Entregar trabalho concluído (localizado na página Pedido) de acordo com o serviço adquirido e anunciado no Serviço.</p>
            <p>O pedido é marcado como concluído após ser marcado como Entregue e classificado por um comprador. Um pedido será marcado como concluído automaticamente se não for classificado dentro de 3 dias após ser marcado como Entregue.</p>
            <p>O botão para a Entrega do trabalho não deve ser utilizado de forma abusiva por vendedores para burlar as diretrizes do pedido descritas nestes Termos de Serviço. Usar o botão de Entrega de trabalho quando um pedido não foi finalizado poderá resultar no cancelamento do pedido após a revisão, afetar a classificação, gerar avisos, gerar suspensão e até banimento do vendedor.</p>
            <h2>Tratamento de Pedidos</h2>
            
            <p>Os vendedores são obrigados a cumprir o prazo de entrega que especificaram ao criar seus Serviços. Se ele não fizer isso o comprador poderá cancelar o pedido quando um pedido for marcado como atrasado, o que possivelmente prejudicará a qualificação do vendedor.</p>
            <p>Um vendedor pode cancelar um pedido sem o consentimento do comprador, a qualquer momento (Cancelamento forçado). No entanto, isso poderá ter um efeito prejudicial sobre a classificação do vendedor.</p>
            <p>Os vendedores devem enviar os arquivos e/ou provas de trabalho concluídos usando o botão Entregar trabalho concluído (localizado na página Pedido) para marcar o pedido como Entregue.</p>
            <p>Os usuários são responsáveis pela verificação de vírus, malware ou programas nocivos em todos os arquivos transferidos. O Kamaleão não será responsabilizado por quaisquer danos que possam ocorrer devido ao uso do site, uso de conteúdo ou arquivos transferidos.</p>
            <p>Os compradores podem usar o recurso Solicitar modificações, localizado na página do pedido, quando o pedido estiver sido marcado como Entregue se o material entregue não corresponder à descrição do vendedor na página do Serviço ou às exigências enviadas ao vendedor no início do processo de solicitação.</p>
            <h2>Falhas no sistema</h2>
            
            <p>O Kamaleão não se responsabilizará por qualquer dano, prejuízo ou perda sofridos pelo Usuário (comprador ou vendedor) em razão de falhas na rede, falhas desconhecidas na programação, falhas na internet, no sistema ou no servidor utilizado pelo usuário, decorrentes de condutas de terceiros, caso fortuito ou força maior. O Kamaleão também não se responsabilizará por qualquer vírus, malweres ou programas mal intensionados que possam atacar o equipamento dos usuários em decorrência do acesso, ou transferência de arquivos entre comprador e vendedor, cabendo aos mesmo a verificação de possíveis ameaças.</p>
            <h2>Classificações</h2>
            
            <p>Os comentários com classificações fornecidos por compradores que completam um pedido são essenciais para o sistema de classificação do Kamaleão. As classificações demonstram a experiência geral do comprador com os vendedores e seus serviços. Os compradores são incentivados a se comunicarem com o vendedor caso haja problemas durante o pedido ativo em relação ao serviço prestado pelo vendedor.</p>
            <p>Responder e publicar um comentário: Depois que o trabalho for entregue, o comprador tem três dias para responder e publicar um comentário. Se nenhuma resposta for apresentada dentro do prazo, o pedido será considerado concluído.</p>
            <p>É fundamental que o comprador deixe comentários. Os comentários de classificação não serão removidos se não houver violação clara dos Termos de serviço.</p>
            <p>Para evitar o uso indevido de nosso sistema de comentários, todas as classificações devem ser provenientes de vendas legítimas feitas exclusivamente por meio da plataforma Kamaleão e a partir de usuários de nossa comunidade. As compras arranjadas, criadas para aumentar a classificação do vendedor artificialmente ou para abusar da plataforma Kamaleão com compras de outras contas, resultarão na suspensão permanente de todas as contas relacionadas.</p>
            <p>Reter a prestação do serviço, arquivos ou informações necessárias para concluir o serviço do Serviço com a intenção de obter críticas favoráveis ou serviços adicionais é proibido.</p>
            <p>Os comentários enviados por compradores são exibidos publicamente na página do Serviço do vendedor. Os vendedores têm a opção de classificar o serviço sem incluir um comentário. O cancelamento de um pedido não remove o comentário, a não ser que isso seja acordado mutuamente.</p>
            <p>As Amostras de trabalho são imagens e vídeos enviados a um comprador em uma mensagem de entrega. As Amostras de trabalho serão adicionadas ao Live Portfolio do vendedor na página do Serviço se o comprador escolher publicar a Amostra de trabalho ao fazer uma classificação pública.</p>
            <p>Os usuários podem deixar classificações para pedidos até 30 dias após um pedido ser concluído. Não será possível adicionar classificações a pedidos após 30 dias.</p>
            <h2>Disputas e cancelamentos.</h2>
            
            <p>Pedimos que os usuários tentem resolver as disputas entre sim, pedimos aos vendedores que descrevam de forma clara e objetiva os serviços ofertados, de modo a não deixa dúvida ou margem para interpretações errôneas.</p>
            <p>Caso o Usuário tanto vendedor quanto o usuário comprador se sentir prejudicado em alguma negociação, e não houver possibilidade de conciliação amigável entre as partes, a parte que se sentir prejudicada poderá entrar em contato com o Suporte Kamaleão e solicitar uma intermediação.</p>
            <p>Os cancelamentos poderão ser feitos de forma mútua entre o usuário comprador e o usuário vendedor, sem prejuízo a nenhuma das partes. O valor pago será ressarcido em forma de crédito na conta do usuário para que ele possa adquirir outro serviço, do mesmo ou de outro vendedor. Obs: O valor da taxa administrativa não é reembolsado.</p>
            <p>O cancelamento por parte do usuário comprador só poderá ser feito, se o usuário vendedor aceitar, ou se o usuário vendedor descumprir com suas obrigações como: não entregar o pedido, não responder o contato do usuário comprador, atrasar o prazo de entrega do serviço, oferecer outro meio de pagamento que não seja através da Plataforma do Kamaleão, ou infringir alguma regra do Termo de Serviço.</p>
            <p>Se o desentendimento entre as partes for por razões que vão ao desencontro a política expressa nos Termos de Serviços do Kamaleão, por parte do vendedor, o mesmo poderá sofres sansões impostas pelo site, que vão desde suspensão temporária do usuário e seus serviços até a exclusão completa e permanente do usuário da plataforma do Kamaleão, sem direito ao resgate do valor em crédito no site.</p>
            <p>Se o desentendimento entre as partes for por razões que vão ao desencontro a política expressa nos Termos de Serviços do Kamaleão, por parte do comprador, o mesmo poderá sofrer sansões impostas pelo site, que vão desde suspensão temporária do usuário na plataforma do Kamaleão até a exclusão permanente do usuário da plataforma do Kamaleão, sem direito a reembolso do valor pago.</p>
            <p>No caso de disputas, a questão deverá ser resolvida entre as partes, diretamente no site, na plataforma oferecida pelo Kamaleão. Lembramos que a plataforma guarda histórico de toda troca de mensagens entre usuário comprador e usuário vendedor, que poderão servir como prova caso a disputa precise ser intermediada pelo Suporte do Kamaleão.</p>
            <p>O VitnePila se reserva o direito de cancelar pedidos ou reter fundos em caso de transação fraudulenta suspeita ou atitudes que violem este Termo de Serviço.</p>
            <h2>Reembolsos</h2>
            <p>Os reembolsos solicitados ao site que estejam dentro das condições dos Termos de Serviço do Kamaleão serão feitos somente em crédito na conta do Usuário. Lembramos que as taxas de serviços não são reembolsáveis.</p>
            <h2>CONDUTA DO USUÁRIO</h2>
            
            <p>As identidades de usuários são mantidas em anonimato para proteger a privacidade de nossos usuários. Não é permitido solicitar ou fornecer endereços de e-mail, nomes de usuário do Skype/IM, números de telefone ou quaisquer outras informações pessoais de contato para comunicação fora do Kamaleão visando comprometer ou burlar o sistema de mensagens ou a plataforma Kamaleão.</p>
            <p>O Kamaleão não oferece garantia sobre o serviço entregue, caso o usuário se sinta prejudicado ou enganado, deverá tentar a resolução do problema diretamente com o vendedor diretamente na plataforma do Kamaleão, caso o entendimento não seja possível os usuários entraram em disputa. Clique aqui para saber mais sobre as disputas.</p>
            <p>Qualquer troca de informação pessoal necessária para continuar um serviço deverá ser realizada na página do pedido, lembrando que toda a mensagem gerada no site do Kamaleão é monitorada, e informações pessoais são Proibidas (a única exceção é quando essa informação for extremamente necessária para finalização do pedido, por exemplo: na confecção de cartões de visita, ou vídeos de divulgação de páginas, sites, ou canais do youtube). Quando isso ocorrer uma equipe do Kamaleão irá analisar se essas informações são realmente necessárias ou não.</p>
            <p>Todas as trocas de informação e arquivos devem ser realizadas exclusivamente na plataforma Kamaleão, lembramos que o Kamaleão se reserva o direito de utilização desses arquivos para fins de publicidade e marketing.</p>
            <p>Linguagem inadequada, agressivas, de baixo calão, ofensivas, não serão permitidas na utilização da plataforma do Kamaleão, podendo ser removidas e gerando, banimento ou exclusão do usuário.</p>
            <h2>Relatar violações</h2>
            <p>Contamos com sua ajuda para relatar casos de violação dos Termos de Serviço do Kamaleão, nossa equipe irá averiguar a situação e tomar as medidas necessárias, os dados e o anonimato dos usuários serão mantidos em sigilo.</p>
            <p>Se uma violação ou uma suspeita de violação dos Termos de Serviço, forem identificadas o usuário receberá um e-mail de nossa equipe, informando a violação, que podem gerar bloqueio temporário ou exclusão permanente do usuário infrator.</p>
            <p>Não utilize o Kamaleão para práticas ou atividades ilegais.</p>
            <p>Não é permitido a negociação de material pornográfico na plataforma do Kamaleão.</p>
            <p>Não é permitido a comercialização de produtos ou serviços proibidos pela lei vigente do país.</p>
            <p>Não é permitido a publicação ou o envio de conteúdo malicioso ou prejudicial ao usuário, bem como desrespeitar a privacidade dos mesmos, nem o contato para fins comerciais sem autorização.</p>
            <p>Estão vetadas no site, praticas ou atitudes de bullying, preconceito de qualquer espécie, discursos de ódios, agressões verbais ou escritas.</p>
            <p>A privacidade e a identidade, deverão ser respeitadas, não é permitida a troca de informações pessoas (salva exceção em que o serviço exige) cabe também ao usuário vendedor alertar o usuário comprador sobre essa proibição.</p>
            <p>Usuários que negociarem “por fora” da plataforma do Kamaleão, não estarão protegidas ou resguardadas pela nossa política de privacidade, e nem por esses Termos de Serviço.</p>
            <p>Não viole a propriedade intelectual ou marcas registradas.</p>
            <p>Não é permitido a criação de contas múltiplas, cada usuário terá direito a uma única conta para divulgação de seus serviços, o número de serviços possíveis de serem anunciados aumentam conforme o nível de vendedor progride. Usuários que utilizarem artifícios como contas múltiplas, afim de enganar a comunidade Kamaleão para ganhar vantagens comerciais em cima dos outros usuários, poderão ser banidos e terem todas as suas contas e serviços desativados.</p>
            <p>Não serão tolerados situações de abuso ou assédio ao usuário, tanto vendedor como comprador. Incluindo a criação de contas em massa afim de assediar por meio de mensagens os vendedores, ou compra de serviços afim de enviar qualificações baixas com clara intenção de prejudicar o vendedor.</p>
            <h2>Termos gerais</h2>
            
            <p>O Kamaleão reserva-se o direito de suspender ou desativar permanentemente qualquer conta devido à violação destes termos de serviço ou de qualquer uso ilegal ou inadequado do site ou dos serviços.</p>
            <p>A violação dos Termos de Serviço do Kamaleão pode resultar na desativação permanentemente da sua conta.
            <p>Os usuários com contas desativadas não poderão vender ou comprar no Kamaleão.</p>
            <p>Os usuários podem ativar recursos de segurança da conta para protegerem suas contas contra o uso não autorizado.</p>
            <p>Os usuários que violaram nossos Termos de serviço e tiveram suas contas desativadas podem entrar em contato com nossa equipe de suporte ao cliente para obterem informações sobre a violação e o status da conta.</p>
            <p>Os usuários devem poder verificar a propriedade de suas contas por meio do suporte ao cliente fornecendo materiais que comprovem a propriedade da conta.</p>
            <p>Os vendedores poderão sacar suas receitas de contas desativadas após um período de segurança de 45 dias a partir do dia do último pagamento liberado recebido em sua conta e sujeito à aprovação do Kamaleão.</p>
            <p>O Kamaleão eventualmente pode alterar os Termos de Serviço. Quando essas alterações forem feitas, o Kamaleão disponibilizará uma nova cópia dos termos de serviço nesta página.</p>
            <p>O Kamaleão se reserva ao direito de excluir sem aviso prévio da plataforma qualquer usuário, cuja conduta seja prejudicial a imagem do site.</p>
            <p>O Kamaleão se reserva ao direito de suspender ou desativar a conta sem aviso prévio do usuário que violar qualquer uma das políticas descrita nos Termos de Serviços.</p>
            <p>O Kamaleão se reserva ao direito de excluir sem aviso prévio da plataforma qualquer serviço que julgue desinteressante para o site.</p>
            <p>O Kamaleão se reserva ao direito de excluir sem aviso prévio da plataforma qualquer vendedor que julgar não trazer retorno significativo a plataforma.</p>
            <p>As disputas devem ser resolvidas usando as ferramentas de solução de disputas do Kamaleão (Centro de solução na página de pedidos) ou entrando em contato com o suporte ao cliente Kamaleão.</p>
            <p>Você compreende e concorda que, se utilizar o Kamaleão após a data de alteração dos Termos de Serviço, o Kamaleão considerará o seu uso como uma aceitação dos Termos de Serviço atualizados.</p>
            <h2>Conteúdo gerado pelo usuário</h2>
            <p>O Kamaleão, NÃO gera ou cria conteúdos, todo conteúdo e serviços oferecidos no site é de responsabilidade do usuário, o Kamaleão, não verifica violações, plágios, direitos autorais, nos conteúdos transferidos por download ou upload em nossa plataforma. É de total responsabilidade do usuário essa troca de dados e serviços. Pedimos que denuncie casos de violação com comprovação de propriedade para que possamos remover o conteúdo de nossa plataforma. O Kamaleão não se responsabiliza pela qualidade ou nível do serviço oferecido, não oferecendo garantia em relação a esses serviços. Cabe ao usuário decidir adquirir ou não um serviço, baseado na confiança que o vendedor apresenta e na utilização de nosso sistema de qualificação que dará uma boa margem de segurança na aquisição de produtos ou serviços.</p>
            <h2>Propriedade</h2>
            <p>A Propriedade do serviço entregue, todos os direitos de propriedade intelectual, uso pessoal ou comercial, direitos autorais, são concedidos ao usuário comprador no momento da compra, a menos que o vendedor claramente indique o contrário na página de descrição do Serviço. Toda a transferência ou cessão de propriedade intelectual estará sujeito ao pagamento integral do Serviço, e a entrega não deverá ser realizada caso o pagamento tenha sido cancelado por algum motivo. Ao usuário vendedor cabe total direito de cobrar por meio de Adicionais, na plataforma do Kamaleão uma Licença para Uso Comercial, quando o serviço entregue destina-se a algum negócio ou empreendimento com fins lucrativos. Porém essa prática deverá estar em evidência e de forma clara e entendível na descrição do serviço. Caso o usuário vendedor omita essa informação entende-se que todos os direitos do serviço ou trabalho entregue estão concedidos.</p>
            <h2>Licença para Uso Comercial</h2>
            <p>Ao adquirir uma “Licença para Uso Comercial” com seu pedido, o Vendedor lhe concede uma licença perpétua, exclusiva, intransferível e mundial para usar a entrega adquirida para Intenções Comerciais Permitidas. Todos os direitos de propriedade intelectual da entrega adquirida são doravante transferidos a você. “Intenções Comerciais Permitidas” significam qualquer uso relacionado a negócios, tais como (a título de exemplo) propaganda, promoção, criação de páginas na web, integração com produto, software ou outras ferramentas relacionadas a negócios etc., e excluem estritamente qualquer intenção ilegal, imoral ou difamatória. Essa Licença está sujeita aos Termos de Serviço da Kamaleão. Não há nenhuma garantia, expressa ou implícita, com a compra dessa entrega, inclusive com respeito à capacidade para um propósito particular. Nem o Vendedor nem a Kamaleão serão responsáveis por nenhuma reclamação, ou danos por incidente ou consequência ou outros oriundos de fora desta licença, da entrega ou seu uso da entrega.
            Renúncia de responsabilidade de garantias e Limitação de responsabilidade</p>
            <p>O USO DO SITE KAMALEÃO, SEU CONTEÚDO E QUAISQUER SERVIÇOS OU ITENS OBTIDOS ATRAVÉS DELE SÃO DE SUA RESPONSABILIDADE. O KAMALEÃO, SEU CONTEÚDO E QUAISQUER SERVIÇOS OU ITENS ADQUIRIDOS ATRAVÉS DELE SERÃO FORNECIDOS “NO ESTADO EM QUE SE ENCONTRAM” E “CONFORME DISPONÍVEL”, SEM GARANTIAS DE QUALQUER TIPO, EXPRESSAS OU IMPLÍCITAS. NEM O KAMALEÃO, NEM QUALQUER PESSOA ASSOCIADA AO KAMALEÃO GARANTE OU SE RESPONSABILIZA PELA INTEGRIDADE, SEGURANÇA, CONFIABILIDADE, QUALIDADE, EXATIDÃO OU DISPONIBILIDADE DO SITE.</p>
            <p>O DISPOSTO ACIMA NÃO AFETA AS GARANTIAS QUE NÃO POSSAM SER EXCLUÍDAS OU LIMITADAS PELA LEGISLAÇÃO APLICÁVEL. EM HIPÓTESE ALGUMA O KAMALEÃO, SUES AFILIADOS OU SEUS AGENTES, PRESTADORES DE SERVIÇOS, FUNCIONÁRIOS, AGENTES, EXECUTIVOS OU DIRETORES SERÃO RESPONSÁVEIS POR DANOS DE QUALQUER NATUREZA, SOB QUALQUER TEORIA JURÍDICA, DECORRENTES DE OU EM LIGAÇÃO COM O USO OU IMPOSSIBILIDADE DE USO DO SITE, QUALQUER SITE LIGADO A ELE, QUALQUER CONTEÚDO NO SITE OU OUTROS SITES OU QUALQUER SERVIÇO OU ITENS OBTIDOS ATRAVÉS DO SITE OU OUTROS SITES, INCLUINDO QUAISQUER DANOS DIRETOS, INDIRETOS, INCIDENTAIS, EMERGENTES OU PUNITIVOS, INCLUINDO MAS NÃO LIMITADOS A, DANOS PESSOAIS, DOR E SOFRIMENTO, PROBLEMAS EMOCIONAIS, PERDA DE RECEITAS, PERDA DE LUCROS, PERDA DE NEGÓCIOS OU ECONOMIAS, PERDA DE USO, PERDA DE REPUTAÇÃO, PERDA DE DADOS, SEJAM ELES CAUSADOS POR ATO ILÍCITO (INCLUINDO NEGLIGÊNCIA), QUEBRA DE CONTRATO OU DE OUTRA FORMA, MESMO QUE PREVISÍVEL.</p>
            <p>O DISPOSTO ACIMA NÃO AFETA AS RESPONSABILIDADES QUE NÃO POSSAM SER EXCLUÍDAS OU LIMITADAS PELA LEGISLAÇÃO APLICÁVEL.</p>
        </div>
      </div> <!--container-->
      {% endblock div_container %}
   {# end body #}
{# end document #}
{% endblock termos %}
