<!DOCTYPE html>
<html lang="pt-br">
   <head>
      <meta charset="utf-8">
      <title>Dropdown Menu Bar</title>
      <link rel="stylesheet" href="style/home.css">
      <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
      <script src="https://kit.fontawesome.com/ef2c6ec081.js" crossorigin="anonymous"></script>
   </head>
   <body>
      <nav class="nav-bar">
         <img src="../assets/img/LogoKamaleao1.png" alt="logo" class="logo">
         <div class="search">
             <input type="text" placeholder="Pesquisar Artes" name="search" />
         </div> <!--SEARCH-->
         

         <!--NAVBAR ICONS-->
         <ul>
            <li>
               <i class="fas fa-user"></i>
               </a>
               <ul>
                  <li><a href="#" class="opt">Ver perfil</a></li>
                  <li><a href="#" class="opt">Configurar conta</a></li>
                  <li><a href="#" class="opt">Adicionar conta +</a></li>
                  <li><a href="#" class="opt">Sair</a></li>
               </ul>
            </li>
            <li>
               <i class='bx bx-menu'></i>
               </a>
               <ul>
                  <li><a href="#" class="opt">Sobre o Kamaleão</a></li>
                  <li><a href="#" class="opt">Configurações</a></li>
                  <li><a href="#" class="opt">Contato</a></li>
                  <li><a href="#" class="opt">Ajuda</a></li>
                  <li><a href="#" class="opt">Termos de Serviço</a></li>
                  <li><a href="#" class="opt">Políticas de Privacidade</a></li>
               </ul>
            </li>
         </ul>
         <!--NAVBAR ICONS FIM-->

      </nav> <!--nav-bar fim-->

      <section> <!--INICIO SECTION-->
         <h1>Caralhou</h1>
      </section> <!--FIM SECTION-->

    <footer>
        <div>
            
        </div>
    </footer>
   </body>
</html>