<!DOCTYPE html>
<html>

    <head>
        <title>Kamaleao - Login</title>
        <link rel="stylesheet" href="css/login.css">
        <meta charset="utf-8" />
    </head>

    <body>
        <div class="form_login">
            <form>
                <fieldset>
                    <h1>Login</h1>


                        <p>E-mail</p> <!--email-->
                        <div class="email">
                            <input type="text" id="email" name="email" placeholder="E-mail" />
                        </div> <!--email-->

                        <p>Senha</p>
                        <div class="senha"> <!--senha-->
                            <input type="password" id="senha" name="password" placeholder="Senha" /><br/>
                            <input type="checkbox" id="checkbox" name="manter_conectado" value="" /><span>Manter conectado</span>
                        </div> <!--senha-->

                        <div> <!--botao-->
                            <input type="submit" class="botao" name="acao" value="Login" /><br/>
                            <a href="#" class="esqueci">Esqueci minha senha</a>
                        </div> <!--botao-->
                            
                </fieldset>
            </form>
        </div>
    </body>


</html>